.display-on {
    display: inline-block !important;
    opacity: 1 !important;
}
.item.item-accordion {
    line-height: 1em !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    transition: 0.09s all linear;
}
.item.item-accordion.ng-hide {
    line-height: 0px;
}
.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
    display: block !important;
}
.warnin{
    color: tomato;
}

.bg_green_ligth{
    background-color: rgba(0, 128, 0, 0.25)
}
.bg_yellow_ligth{
    background-color: rgba(255, 255, 0, 0.25)
}
.bg_red_ligth{
    background-color: rgba(255, 99, 71, 0.25)
}
.high-text{
    font-weight: bolder;
}

.mensaje-autor{ 
    margin-bottom: 15px;
    margin-top: 15px; 
    text-align: right;
} 

.mensaje-amigo{ 
    margin-bottom: 15px;
    margin-top: 15px; 
    text-align: left;
} 

.mensaje-autor .contenido{ 
    background-color: rgb(193, 230, 232); 
    border-radius: 5px; 
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3); 
    display: inline-block; 
    font-size: 13px; 
    padding: 15px; 
    vertical-align: top; 
    width: 90%; 
}


.mensaje-autor .fecha{ 
    color: #777; 
    font-style: italic; 
    font-size: 13px; 
    text-align: right; 
    margin-right: 18px; 
    margin-top: 5px; 
} 

.flecha-derecha{ 
    display: inline-block; 
    margin-left: -6px; 
    margin-top: 10px; 
    width: 0;  
    height: 0;  
    border-top: 0px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-left: 15px solid rgb(193, 230, 232); 
}

.cabecera{ 
    font-size: smaller;
    margin-top: -8px;
    margin: -8 0 8 0 px !important;
    font-weight:  bolder;
}
.texto{ 
    display: inline-block; 
    margin-left: -6px; 
    margin-top: 10px; 
    width: 0;  
    height: 0;  
    border-top: 0px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-left: 15px solid rgb(193, 230, 232); 
}

.flecha-izquierda{ 
    display: inline-block; 
    margin-right: -6px; 
    margin-top: 10px; 
    width: 0;  
    height: 0;  
    border-top: 0px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-right: 15px solid rgb(197, 197, 230); 
}

.mensaje-amigo .contenido{ 
    background-color: rgb(197, 197, 230); 
    border-radius: 5px; 
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    display: inline-block; 
    font-size: 13px; 
    padding: 15px; 
    vertical-align: top; 
    width: 90%; 
}

.mensaje-amigo .fecha{ 
    color: #777; 
    font-style: italic; 
    font-size: 13px; 
    text-align: right; 
    margin-right: 18px; 
    margin-top: 5px; 
}

.custom-item-stacked-label-profile-embudo-filter{
    border: none;
    margin: 0em;
    padding: 0em;
  }
