<ion-view class="profile-view">
  <ion-nav-title>
    <span>Error</span>
  </ion-nav-title>
  <ion-content>

    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
      </div>
    </div>

    <div align="center" style="vertical-align: middle;">
        <b class="assertive padding " style="font-size:16px;text-align: center;"  align="center">"Acceso denegado"</b>
        <br>
        <br>
        <br>
    </div>
  </ion-content>
</ion-view>
