<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Confirmación Datos del Cliente</span>
  </ion-nav-title>
  <ion-content>

    <ul class="list">

        <div class="row header">
          <div class="col col-20" align="left"><button class="button button-energized" ui-sref="app.tiposDocumentos"  ng-disabled="modoEdicion">DNI</button></div>
          <div class="col col-60" align="center"><input type="tel" value="42852211" placeholder=" Nro de Documento" style="text-align:center;text-transform:uppercase; font-size:16px;" ng-disabled="modoEdicion"></div>
          <div class="col col-20" align="right"><button class="button button-assertive" ng-hide="modoEdicion">Buscar</button></div>
        </div>

      <label class="item item-input">
        <input type="text" placeholder="Nombres" ng-disabled="modoEdicion"  value="Jose Luis" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido Paterno" ng-disabled="modoEdicion" value="Martinez" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido Materno" ng-disabled="modoEdicion" value="Astuvilca" style="text-transform:uppercase; font-size:16px;"> 
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-disabled="modoEdicion" value="jmartinez@applying.pe" style="text-transform:uppercase; font-size:16px;">  
      </label>
      <label class="item item-input">
        <input type="tel" placeholder="Teléfono" ng-disabled="modoEdicion" value="427 5247" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <input type="tel" placeholder="Celular" ng-disabled="modoEdicion" value="985575390" style="text-transform:uppercase; font-size:16px;">
      </label>
      <div class="row" ng-show="vm.inEdition">
        <div class="col"></div>
        <button class="button button-block button-assertive icon icon-left ion-checkmark" ui-sref="app.confirmacionBien">
          Continuar
        </button>
        <div class="col-10"></div>
        <button class="button button-block button-calm icon icon-left ion-edit" ng-click="editar()">
          Editar
        </button>
        <div class="col"></div>
      </div>            
      
<!--</div> app.tiposDocumentos -->
    </ul>
  </ion-content>
</ion-view>
