<ion-view class="forms-view" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content> 

    <ul class="list">
      <div class="item item-divider assertive">Información del Contrato</div>
      <label class = "item item-input item-select " data-tap-disabled="true" ng-class="{'item-balanced': !tempContrato.contrato.coincidioPrograma,'item-light': tempContrato.contrato.coincidioPrograma}">
        <span class="input-label" style="font-size:14px;" >Programa-Producto:</span>     
        <select style="text-transform:uppercase; font-size:16px;" ng-disabled="modoEdicion" ng-model="tempContrato.contrato.programaProductoSeleccionado" ng-change="cambiarPrograma(item);"
        ng-options="item.productoNombre for item in lstProgramaProducto" >
        <option value="" disabled>Seleccione</option>
        </select>
      </label>
      <label class = "item item-input item-select" data-tap-disabled="true" ng-class="{'item-balanced': !tempContrato.contrato.coincidioGrupo,'item-light': tempContrato.contrato.coincidioGrupo}">
        <span class="input-label" style="font-size:14px;" >Grupo:</span>   
        <select  ng-disabled="modoEdicion" style="text-transform:uppercase; font-size:16px;" ng-model="tempContrato.contrato.grupoSeleccionado" ng-change="cambiarGrupo(item)"
        ng-options="item.grupoNumero for item in lstGrupo">
        <option value="" disabled>Seleccione</option>
        </select>
      </label>

      <label class = "item item-input item-select" data-tap-disabled="true" ng-class="{'item-balanced': !tempContrato.contrato.coincidioCertificado,'item-light': tempContrato.contrato.coincidioCertificado}">
        <span class="input-label" style="font-size:14px;" >Certificado:</span>     
        <select  ng-disabled="modoEdicion" style="text-transform:uppercase; font-size:16px;" ng-model="tempContrato.contrato.certificadoSeleccionado" ng-change="cambiarCertificado(certificado)"
        ng-options="(item.certificadoValor | currency:'US$':2) for item in lstCertificado">
        <option value="" disabled>Seleccione</option>
        </select>
      </label>
      <label class="item item-input" >
        <span class="input-label " style="font-size:14px;">Cuota Mensual:</span>
        <div class = "col col-5" align="right">
           <span class="input-label" style="text-transform:uppercase; font-size:16px;" >{{tempContrato.contrato.cuotaMensualBase | currency:"US$":2}}</span>
         </div>
      </label>

      <label class="item item-input" >
        <span class="input-label " style="font-size:14px;">Nro. de Asamblea:</span>
        <div class = "col col-5" align="right">
           <span class="input-label" style="text-transform:uppercase; font-size:16px; padding-right:20px" >{{tempContrato.contrato.contratoNroAsambleaGrupo}}</span>
         </div>
      </label>

      <div class="item item-divider assertive" ng-show="tempContrato.contrato.contratoNroAsambleaGrupo>1">Información de Cuotas Devengadas</div>
      <div class="row" ng-show="tempContrato.contrato.contratoNroAsambleaGrupo>1">
        <div class="col">
          <label style="padding-left: 5px;" class="item item-input item-floating-label">
          <span style="font-size: 13px;" class="input-label">Ingreso de Venta:</span>
           <input type="number"  placeholder="Ing. de Vent" 
                  ng-model="tempContrato.contrato.contratoNroCuotasAbonado"
                  ng-click="tempContrato.contrato.contratoNroCuotasAbonado = devengadoOnClick(tempContrato.contrato.contratoNroCuotasAbonado)"
                  ng-blur="tempContrato.contrato.contratoNroCuotasAbonado = devengadoOnBlur(tempContrato.contrato.contratoNroCuotasAbonado)"
                  ng-change="evaluarCuotasDevengadas(0)">
          </label>
        </div>
        <div class="col">
          <label style="padding-left: 5px;" class="item item-input item-floating-label">
            <span style="font-size: 13px;" class="input-label">Adjudicación:</span>
            <input  type="number"  placeholder="Adjudicación" 
                    ng-model="tempContrato.contrato.contratoNroCuotasAdjudicacion"
                    ng-click="tempContrato.contrato.contratoNroCuotasAdjudicacion = devengadoOnClick(tempContrato.contrato.contratoNroCuotasAdjudicacion)"
                    ng-blur="tempContrato.contrato.contratoNroCuotasAdjudicacion = devengadoOnBlur(tempContrato.contrato.contratoNroCuotasAdjudicacion)"
                    ng-change="evaluarCuotasDevengadas(1)">
          </label>
        </div>
        <div class="col">
          <label style="padding-left: 5px;"  ng-style="{'background-color':(noProrratear?'#ccc':'#fff')}" class="item item-input item-floating-label">
            <span style="font-size: 13px;" class="input-label">Prorrateo:</span>
            <input type="number"  placeholder="Prorrateo" 
                   ng-model="tempContrato.contrato.contratoNroCuotasProrrateo"
                   ng-click="tempContrato.contrato.contratoNroCuotasProrrateo = devengadoOnClick(tempContrato.contrato.contratoNroCuotasProrrateo)"
                  ng-blur="tempContrato.contrato.contratoNroCuotasProrrateo = devengadoOnBlur(tempContrato.contrato.contratoNroCuotasProrrateo)"
                   ng-change="evaluarCuotasDevengadas(2)"
                   ng-disabled="noProrratear"
                   ng-style="{'background-color':(noProrratear?'#ccc':'#fff')}">
          </label>
        </div>
      </div>
      <div class="item item-divider assertive">Información del Bien</div>

      <label  class = "item item-input" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Tipo del Bien:</span>     
        <p  style="text-transform:uppercase; font-size:16px; position:absolute;right: 3em;">{{mapSmvBienesServicios[tempContrato.contrato.tipoBienID].descripcion}}</p>
      </label>

      <label class = "item item-input item-select item-light" data-tap-disabled="true" ng-if="tempContrato.contrato.tipoBienID==2">
        <span class="input-label" style="font-size:14px;" >Marca:</span>     
        <select  ng-disabled="modoEdicion" style="text-transform:uppercase; font-size:16px;" ng-model="tempContrato.contrato.marcaId" ng-change="cambiarMarca()">
        <option value="" disabled>Seleccione</option>
           <option value="{{item.marcaID}}" ng-repeat="item in lstMarca">{{item.marcaNombre}}</option>
        </select>
      </label>

      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" ng-show="tempContrato.contrato.tipoBienID==TIPO_BIEN.VEHICULO">Modelo</span>
        <span class="input-label" style="font-size:14px;" ng-show="tempContrato.contrato.tipoBienID==TIPO_BIEN.INMUEBLE">Inversión Inmobiliaria</span>
        <select  ng-disabled="modoEdicion" style="text-transform:uppercase; font-size:16px;" ng-model="tempContrato.contrato.modeloId">
           <option value="{{item.articuloID}}" ng-repeat="item in lstModelo">{{item.articuloNombre}}</option>
           <option value="" disabled>Seleccione</option>
        </select>
      </label>

      <!--NICIO - JOHN VELASQUEZ - CAMINOS APP-->
      <label class="item item-input" ng-if="!me.documentoDigital">
        <span class="input-label" style="font-size:14px;">Nro.Formato:</span>
        <div class = "col col-5" align="right">
          <input type="tel" placeholder="Nro. de Formato"  ng-model="tempContrato.contrato.contratoFormato" ng-change="tempContrato.contrato.contratoFormato = validacionService.formatearSoloNumeros(tempContrato.contrato.contratoFormato)" style="text-align:right; font-size:14px;" maxlength="8">
        </div>
      </label>
      <!--INICIO - JOHN VELASQUEZ - CAMINOS APP-->

      <div class="item item-divider assertive">Información del Pago</div>
      <div class = "row">
         <div class = "col col-70" >
          Cuota Total Mensual <b>({{tempContrato.contrato.cuotaMensualFinal  | currency:"US$":2}}) {{tempContrato.contrato.contratoNroCuotasAbonado?'x'+(tempContrato.contrato.contratoNroCuotasAbonado+1):''}}</b>:
         </div>
         <div class = "col col-30" align="right">
           <span class="input-label">{{tempContrato.contrato.cuotaTotalMensual | currency:"US$":2}}</span>
         </div>
      </div>
      <div class = "row" style="color:red" ng-show="tempContrato.contrato.cuotaTotalMensualPagado>0">
         <div class = "col col-70" style="color:red" >
          Pago a Cuenta de cuota mensual:
         </div>
         <div class = "col col-30" align="right" style="color:red" ng-hide="tempContrato.contrato.cuotaTotalMensualPagado>tempContrato.contrato.cuotaTotalMensual">
           <span style="color:red;padding: 7px 10px 7px 0px;">{{tempContrato.contrato.cuotaTotalMensualPagado*-1  | currency:"US$":2}}</span>
         </div>
          <div class = "col col-30" align="right" style="color:red" ng-show="tempContrato.contrato.cuotaTotalMensualPagado>tempContrato.contrato.cuotaTotalMensual">
           <span style="color:red;padding: 7px 10px 7px 0px;">{{tempContrato.contrato.cuotaTotalMensual*-1  | currency:"US$":2}}</span>
         </div>
      </div>
      <div class = "row" style="color:red" ng-show="tempContrato.contrato.cuotaTotalMensualPagado>=tempContrato.contrato.cuotaTotalMensual">
         <div class = "col col-70" style="color:red" >
          Pago a Cuenta de CIA:
         </div>
         <div class = "col col-30" align="right" style="color:red">
           <span style="color:red;padding: 7px 10px 7px 0px;">{{(tempContrato.contrato.cuotaTotalMensualPagado-tempContrato.contrato.cuotaTotalMensual)*-1  | currency:"US$":2}}</span>
         </div>
      </div>
      <div class = "row" ng-hide="tempContrato.contrato.cuotaTotalMensualPagado>=tempContrato.contrato.cuotaTotalMensual">
         <div class = "col col-70">
          Cuota de Inscripción A + IGV <br><b>({{tempContrato.contrato.cia  | currency:"US$":2}})</b>:
         </div>
         <div class = "col col-30" align="right">
           <input  type="number" style="text-align: center; border-style: solid; background-color: #D7E2EA; font-size:16px; width:90px;" 
                   ng-model="tempContrato.contrato.montoCiaPagar"                   
                   ng-keyup="tempContrato.contrato.montoCiaPagar = evaluarCia(tempContrato.contrato.montoCiaPagar)"
                   ng-change="tempContrato.contrato.montoCiaPagar = evaluarCia(tempContrato.contrato.montoCiaPagar)"
                   ng-click="tempContrato.contrato.montoCiaPagar = ciaOnClick(tempContrato.contrato.montoCiaPagar)"
                   ng-blur="tempContrato.contrato.montoCiaPagar = ciaOnBlur(tempContrato.contrato.montoCiaPagar)"
                   step="0.01">
         </div>

      </div>
      <div class = "row">
         <div class = "col col-70">
          Importe a Pagar <b>(US$)</b>:
         </div>
         <div class = "col col-30" align="right">
           <span class="input-label">{{tempContrato.contrato.cuotaTotalMensualPendiente + (tempContrato.contrato.montoCiaPagar?tempContrato.contrato.montoCiaPagar:0)  | currency:"US$":2}}</span>
         </div>
      </div>
      
      </ul>

      <div class="row"> 
        <div class="col text-center">
          <button class="button button-assertive icon icon-right ion-ios-arrow-forward" ng-click="irATitulares();" style="width: 75%;">
            Continuar
          </button>
        </div>
      </div>

      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-ios-arrow-back" ng-click="cancelar()" style="width: 75%;">
            Cancelar
          </button>
        </div>
      </div>

<!--</div> app.tiposDocumentos -->
   
  </ion-content>
</ion-view>


<script id="buscar-persona-options-popover.html" type="text/ng-template">
    <ion-popover-view style="height: 30%;">
      <ion-header-bar>
        <h1 class="title">Opciones</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <a class="item" ng-repeat="option in busquedaScanerOptions" ng-click='doActionEscaner($index)'>{{option.label}}</a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
