<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
            <span>Detalle Pago CIA</span>
        </ion-nav-title>
    <ion-content>
        <div class="item item-divider assertive">Detalles Acumulado</div>
        <div style="border-top: solid 1px #e8e8e8" >
            <div class="row">
                Cuota de Inscripción A + IGV (US$)
            </div>
            <div class="row header">
                <div class="col col-40" align="left"><b class="calm">Monto a Pagar</b></div>
                <div class="col col-30" align="center"><b class="calm">Pagado</b></div>
                <div class="col col-30" align="center"><b class="calm">Pendiente</b></div>
            </div>
            <div class = "row">
                <div class = "col col-40" align="left">
                    <span style="font-size: 14px;"> {{contrato.importePago | number:2}}</span>
                </div>
                <div class = "col col-30" align="center">
                    <span style="font-size: 14px;">{{contrato.ciaPagada | number:2}}</span>
                </div>
                <div class = "col col-30" align="center">
                    <span style="font-size: 14px;">{{contrato.ciaPendiente | number:2}}</span>
                </div>
            </div>
        </div>
        <br>
        <div class="item item-divider assertive">Detalles de Pago</div>
        <div class="row header" ng-if="!obligaciones||obligaciones.length<=0" style="margin-bottom: 5em;">
            <p>Usted no tiene pagos de CIA</p>
        </div>
        <div class="row header" ng-if="obligaciones&&obligaciones.length>0">
            <div class="col" align="left"><b class="calm">Fecha</b></div>
            <!--div class="col" align="center"><b class="calm">Concepto</b></div-->
            <div class="col" align="center"><b class="calm">Monto (US$)</b></div>
            <div class="col" align="center"><b class="calm">Estado</b></div>
        </div>
        <div class = "row" ng-repeat="obligacion in obligaciones" ng-show="obligaciones.lngEstadoObligacion!==ESTADO_OBLIGACION.ELIMINADO">
            <div class = "col" align="left">
                {{obligacion.fechaRegistro | date : "dd-MM-yyyy" : timezone}}
            </div>
            <!--div class = "col" >
            Separación
            </div-->
            <div class = "col" align="center">
                <span>{{obligacion.bdImporte | number:2}}</span>
            </div>
            <div align="center" ng-if="obligacion.lngEstadoObligacion===ESTADO_OBLIGACION.REGISTRADO" class = "col" >
                pendiente
            </div>
            <div align="center" ng-if="obligacion.lngEstadoObligacion===ESTADO_OBLIGACION.PAGADO" class = "col balanced" >
                pagado
            </div>
            <!--div ng-if="obligacion.lngEstadoObligacion===ESTADO_OBLIGACION.ELIMINADO" class = "col balanced" >
              cancelado
            </div-->
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="button button-calm icon icon-left ion-ios-arrow-back" ng-click="regresar()" style="width: 75%;">
                    Regresar
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
