<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Datos del Pago</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">    

      <div class="item item-divider assertive">Información del Pago a Cuenta</div>

      <div class="row">
        <div class="col col-60">Importe a Pagar <b>(US$)</b></div>
        <div class="col col-30" align="right"><input  type="number"  style="text-align: center; border-style: solid; background-color: #D7E2EA; font-size:16px; width:80px;" ng-model="obligacionPagoBean.bdImporte" ng-change="changeImportePago()" ng-blur="onBlurImportePago()" ng-click="clickImportePago()"></div>
      </div>
      <div class="row">
        <div class="col col-60"></div>
        <div class = "col col-30" align="right"><span >{{cuotaTotalMensual?cuotaTotalMensual:0 | currency:"US$":2}}</span></div>
      </div>
      <div class="row header" style="
        color: #004b93;
        border-bottom: 1px solid #11c1f3;
        border-top: 1px solid #11c1f3;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 2em">
        <div class="col col-40" ><b style="color: #004b93;">Concepto</b></div>
        <div class="col col-30" align="right" ng-show="obligacionPagoBean.lngNroPagos>0"><b style="color: #004b93;">Pagado</b></div>
        <div class="col col-30" align="right" ng-show="obligacionPagoBean.lngNroPagos>0"><b style="color: #004b93;">Pendiente</b></div>        
      </div>      
          
      <div class = "row header">
         <div class = "col col-40" >Cuota Total Mensual <b>({{obligacionPagoBean.cuotaTotalMensual | currency:"US$":2}})</b></div>
         <div class = "col col-30" align="right"><span ng-show="obligacionPagoBean.lngNroPagos>0">{{obligacionPagoBean.cuotaTotalMensualPagado | currency:"US$":2}}</span></div>
         <div class = "col col-30" align="right"><span ng-show="obligacionPagoBean.lngNroPagos>0">{{obligacionPagoBean.cuotaTotalMensual - obligacionPagoBean.cuotaTotalMensualPagado | currency:"US$":2}}</span></div>         
      </div>

    </ul>

      <div class="row"> 
        <div class="col text-center">
          <button class="button button-assertive icon icon-right ion-ios-arrow-forward"   style="width: 75%;" ng-click="generarObligacionPago();">
            Continuar
          </button>
        </div>
      </div>
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-ios-arrow-back" ng-click="regresar()" style="width: 75%;">
            Regresar
          </button>
        </div>
      </div>

  </ion-content>
</ion-view>
