<ion-view class="forms-view">
 <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>-->
  <ion-nav-title>
    <span>Datos del Pago</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">    




      <div class="item item-divider assertive">Información del Pago</div>

        <div class="row header">
          <div class="col col-50">Importe a Pagar <b>(US$)</b></div>
          <div class="col col-5"></div>
          <div class="col col-25"></div>
          <div class="col col-20" align="right"><input  type="number"  style="text-align: center; border-style: solid; background-color: #D7E2EA; font-size:16px; width:60px;" ></div>
        </div>
          
        <div class="row header">
          <div class="col col-40">Concepto</div>
          <div class="col col-15" align="right">Pagado</div>
          <div class="col col-25" align="right">Pendiente</div>
          <div class="col col-20"></div>
        </div>
         
      </div>

      <div class = "row">
         <div class = "col col-40" >
          Cuota Total Mensual <b>(US$ 300.00)</b>
         </div>
         <div class = "col col-15" align="right">
           <span class="input-label">100.00</span>
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">200.00</span>
         </div>
         <div class = "col col-20" align="right">
          <span class="input-label">200.00</span>
         </div>
      </div>
      <div class = "row">
         <div class = "col col-40">
          Cuota de Inscripción A + IGV <br><b>(US$ 30000)</b>
         </div>
         <div class = "col col-15" align="right">
           <span class="input-label">0.00</span>
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">0.00</span>
         </div>
         <div class = "col col-20" align="right">
           <span class="input-label">0.00</span>
         </div>
      </div>
      



    </ul>


      <div class="row"> 
        <div class="col text-center">
          <button class="button button-assertive icon icon-right ion-ios-arrow-forward" ui-sref="app.mensajeConfirmacionObligacion"  style="width: 75%;">
            Continuar
          </button>
        </div>
      </div>
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-ios-arrow-back" ui-sref="app.detalleCliente" style="width: 75%;">
            Regresar
          </button>
        </div>
      </div>
  </ion-content>
</ion-view>
