<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Datos del Bien</span>
  </ion-nav-title>
  <ion-content>

    <ul class="list">

      <label class="item item-input">
        <span class="input-label" style="font-size:14px;">Programa-Producto</span>
        <input type="text" placeholder="Programa-Producto" ng-disabled="modoEdicion" value="C1 - 4X4" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;">Grupo</span>
        <input type="text" placeholder="Grupo" ng-disabled="modoEdicion" value="6101" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;">Certificado</span>
        <input type="text" placeholder="Certificado" ng-disabled="modoEdicion" value="$ 30000" style="text-transform:uppercase; font-size:16px;"> 
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;">Nro de Asamblea</span>
        <input type="text" placeholder="Número de Asamblea" ng-disabled="modoEdicion" value="1" style="text-transform:uppercase; font-size:16px;" > 
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;">Tipo del Bien</span>
        <input type="text" placeholder="Tipo del Bien" ng-disabled="modoEdicion" value="Vehículo" style="text-transform:uppercase font-size:16px;">
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;">Marca</span>
        <input type="text" placeholder="Marca" ng-disabled="modoEdicion" value="Hyundai" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input" >
        <span class="input-label" style="font-size:14px;">Modelo</span>
        <input type="text" placeholder="Modelo" ng-disabled="modoEdicion" value="Santa Fe" style="text-transform:uppercase; font-size:16px;"> 
      </label>
      <label class="item item-input" >
        <span class="input-label" style="font-size:14px;">Nro.Formato</span>
        <input type="text" placeholder="Formato" ng-disabled="modoEdicion" value="123456" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;">Cuota Total Mensual (US$)</span>
        <input type="text" placeholder="Cuota Total Mensual (US$)" ng-disabled="modoEdicion" value="$300" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input" >
        <span class="input-label" style="font-size:14px;">Cuota de Inscripción A + IGV (US$)</span>
        <input type="text" placeholder="Cuota de Inscripción A + IGV (US$)" ng-disabled="modoEdicion" value="$3000" style="text-transform:uppercase; font-size:16px;">
      </label>
      
      <button class="button button-block button-assertive icon icon-left ion-checkmark" ui-sref="app.datosCliente">
        Continuar
      </button>
      <button class="button button-block button-calm icon icon-left ion-edit" ng-click="editar()">
        Editar
      </button>
      <button class="button button-block button-calm icon icon-left " ui-sref="app.detalleCliente">
        Regresar
      </button>
      
      
<!--</div> app.tiposDocumentos -->
    </ul>
  </ion-content>
</ion-view>
