<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Datos del Persona</span>
  </ion-nav-title>
  <ion-content>

    <ul class="list">
      <div class="item item-divider assertive">Datos Personales</div>
      
        <div class="row header">
          <div class="col col-20" align="left"><button class="button button-calm" ui-sref="app.tiposDocumentos"  ng-disabled="modoEdicion">DNI</button></div>
          <div class="col col-60" align="center"><input type="tel" value="42852211" placeholder=" Nro de Documento" style="text-align:center;text-transform:uppercase; font-size:16px;" ng-disabled="modoEdicion"></div>
          <div class="col col-20" align="right"><button class="button button-assertive" ng-hide="modoEdicion">Buscar</button></div>
        </div>
        
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;" >Nombres</span>
        <div class = "col col-5" align="right">
          <input type="text" ng-disabled="modoEdicion" value="Jose Luis" style="text-transform:uppercase; font-size:14px;text-align:right;" >
        </div>
      </label>

      <label class="item item-input">
        <span class="input-label" style="font-size:14px;" >Ap. Paterno</span>
        <div class = "col col-5" align="right">
          <input type="text"  ng-disabled="modoEdicion" value="Martinez" style="text-transform:uppercase; font-size:14px;text-align:right;">
        </div>
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;" >Ap. Materno</span>
        <div class = "col col-5" align="right">
          <input type="text"  ng-disabled="modoEdicion" value="Astuvilca" style="text-transform:uppercase; font-size:14px;text-align:right;" > 
        </div>
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;" >Email</span>      
        <div class = "col col-5" align="right">
          <input type="email" ng-disabled="modoEdicion" value="jmartinez@applying.pe" style="text-transform:uppercase; font-size:14px;text-align:right;">  
        </div>
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;" >Teléfono</span>
        <div class = "col col-5" align="right">
          <input type="tel"  value="427 5247"  style="text-transform:uppercase; font-size:14px;text-align:right;">
        </div>
      </label>
      <label class="item item-input">
        <span class="input-label" style="font-size:14px;" >Celular</span>
        <div class = "col col-5" align="right">
          <input type="tel"  value="985575390" style="text-transform:uppercase; font-size:14px;text-align:right;">
        </div>
      </label>
      <label class="item item-input" >
        <span class="input-label" style="font-size:14px;" >RUC (Opcional)</span>
        <div class = "col col-5" align="right">
          <input type="tel"  value="10428522115"  style="text-transform:uppercase; font-size:14px;text-align:right;">
        </div>
      </label>
      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Sexo</span>     
        <select style="text-transform:uppercase; font-size:14px;">
           <option>Femenino</option>
           <option selected>Masculino</option>
        </select>
      </label>

      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Estado Civil</span>     
        <select  ng-disabled="modoEdicion" style="text-transform:uppercase; font-size:14px;" ng-model="estadoCivil">
           <option value="{{item.codigo}}" ng-repeat="item in lstEstadoCivil">{{item.descripcion}}</option>
        </select>
      </label>

      <label class="item item-input item-stacked-label" >
        <span class="input-label" style="font-size:14px;" >Fch. Nac.</span>
        <input type="date">
      </label>



        <div class="row header" ng-show="estadoCivil=='02' ||  estadoCivil=='03'">
          <div class="col col-25"><b class="calm">Relación</b></div>
          <div class="col col-35"><b class="calm">Documento</b></div>
          <div class="col col-40""><b class="calm">Nombre</b></div>
        </div>
        <div class="row" ng-show="estadoCivil=='02' ||  estadoCivil=='03'">
          <div class="col col-25">Conyuge</div>
          <div class="col col-35">DNI - 42852211</div>
          <div class="col col-40">José Luis Martinez Astuvilca</div>
        </div>

      <div class="item item-divider assertive">Datos Dirección Titular</div>

      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Departamento</span>
      
        <select>
           <option>Ayacucho</option>
           <option selected>Lima</option>
           <option>Ica</option>
        </select>
      </label>

      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Provincia</span>      
        <select>
           <option>cañete</option>
           <option selected>Lima</option>
           <option>Huaral</option>
        </select>
      </label>

      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Distrito</span>
      
        <select>
           <option>San Isidro</option>
           <option selected>Lima Cercado</option>
           <option>San Miguel</option>
           <option>Los Olivos</option>
        </select>
      </label>

      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Tipo de Vía</span>
      
        <select>
           <option>Tipo 1</option>
           <option selected>Tipo 2</option>
           <option>Tipo 3</option>
           <option>Tipo 4</option>
        </select>
      </label>

      <label class = "item item-input item-select item-light" data-tap-disabled="true">
        <span class="input-label" style="font-size:14px;" >Tipo de Zona</span>
      
        <select>
           <option>Zona 1</option>
           <option selected>Zona 2</option>
           <option>Zona 3</option>
           <option>Zona 4</option>
        </select>
      </label>


      <label class="item item-input" >
        <span class="input-label" style="font-size:14px;" >Dirección</span>
        <input type="text" style="text-transform:uppercase; font-size:16px;">
      </label> 


      <li class="item item-toggle">
         <p style="font-size:13px;">¿Tiene parientes que trabajan en Pandero?</p>
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="vinculado">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      
      <div class="item item-divider assertive row " ng-show="vinculado">
        <spam class="col assertive">Personas Vinculadas</spam>
        <a class="button button-small button-calm"  ui-sref="app.datosTitular">
          +
        </a>
      </div>

        <div class="row header" ng-show="vinculado">
          <div class="col col-25"><b class="calm">Vinculo</b></div>
          <div class="col col-35"><b class="calm">Documento</b></div>
          <div class="col col-40"><b class="calm">Nombre</b></div>
        </div>
        <div class="row" ng-show="vinculado">
          <div class="col col-25">Primo</div>
          <div class="col col-35">DNI - 42852211</div>
          <div class="col col-40">José Luis Martinez Astuvilca</div>
        </div>

        <div class="item item-divider assertive row ">
          <spam class="col assertive">Información Relevante</spam>
        </div>

       <ul class="list" >
          <li class="item item-toggle">
             <p style="font-size:14px;">¿Desempeña o desempeñó cargo <br> público  en los últimos 5 años?</p>
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             <p style="font-size:14px;">¿Es un Sujeto Obligado a informar a <br>la UIF?</p>
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             <p style="font-size:14px;">¿Tiene controles de Prevención de <br> Lavado de Activos? </p>
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
            <li class="item item-toggle">
             <p style="font-size:14px;">¿Desarrolla actividad minera?</p>
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>

      <div class="row"> 
        <div class="col text-center">
          <button class="button button-assertive icon icon-left ion-checkmark" ui-sref="app.generarContrato.datosPersona"  style="width: 75%;">
            Continuar
          </button>
        </div>
      </div>
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-ios-arrow-back" ui-sref="app.generarContrato.datosPersona"  style="width: 75%;">
            Regresar
          </button>
        </div>
      </div>

      
<!--</div> app.tiposDocumentos -->
    </ul>
  </ion-content>
</ion-view>
