<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Datos del Pago</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">

      <div class="item item-divider assertive">Detalles Acumulado</div>
      
      <div style="border-top: solid 1px #e8e8e8">
        <div class="row">
          Cuota Total Mensual (US$)
        </div>
        <div class="row header">
          <div class="col col-40" align="left"><b class="calm">Monto a Pagar</b></div>
          <div class="col col-30" align="center"><b class="calm">Pagado</b></div>
          <div class="col col-30" align="center"><b class="calm">Pendiente</b></div>
        </div>
        <div class = "row">         
            <div class = "col col-40" align="left">
            <span style="font-size: 14px;"> {{coutaMensual | number:2}} {{cuotasIngreso>0?'(x'+(cuotasIngreso+1)+')':''}}</span>
          </div>
          <div class = "col col-30" align="center">
            <span style="font-size: 14px;">{{pagoPorCuotaMensual | number:2}}</span>
          </div>
          <div class = "col col-30" align="center" ng-show="coutaMensualTotal>pagoPorCuotaMensual">
            <span style="font-size: 14px;">{{coutaMensualTotal - pagoPorCuotaMensual | number:2}}</span>
          </div>
          <div class = "col col-30" align="center" ng-hide="coutaMensualTotal>pagoPorCuotaMensual">
            <span style="font-size: 14px;">{{0 | number:2}}</span>
          </div>
        </div>
      </div>
      <div style="border-top: solid 1px #e8e8e8" >
        <div class="row">
          Cuota de Inscripción A + IGV (US$)
        </div>
        <div class="row header">
          <div class="col col-40" align="left"><b class="calm">Monto a Pagar</b></div>
          <div class="col col-30" align="center"><b class="calm">Pagado</b></div>
          <div class="col col-30" align="center"><b class="calm">Pendiente</b></div>
        </div>
        <div class = "row">         
            <div class = "col col-40" align="left">
            <span style="font-size: 14px;">{{contratoCia.importePago | number:2}}</span>
          </div>
          <div class = "col col-30" align="center">
            <span style="font-size: 14px;">{{contratoCia.ciaPagada | number:2}}</span>
          </div>
          <div class = "col col-30" align="center">
            <span style="font-size: 14px;">{{contratoCia.ciaPendiente | number:2}}</span>
          </div>
        </div>
      </div>      
      <!--div class = "row">
         <div class = "col col-40">
          Cuota de Inscripción A + IGV<b>(US$)</b>
         </div>
         <div class = "col col-20" align="right">
           <span class="input-label" style="font-size: 14px;">30,000.00</span>
         </div>
         <div class = "col col-15" align="right">
           <span class="input-label" align="right" style="font-size: 14px;">0.00</span>
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label" style="font-size: 14px;">0.00</span>
         </div>
      </div-->
      <br>
      <div class="item item-divider assertive">Detalles de Pago</div>
      <div class="row header" ng-if="!proforma.lstObligacionPagoBean||proforma.lstObligacionPagoBean.length<=0" style="margin-bottom: 5em;">
          <p>Usted no tiene obligaciones de pago</p>
      </div>
      <div class="row header"  ng-if="proforma.lstObligacionPagoBean&&proforma.lstObligacionPagoBean.length>0">
        <div class="col" align="left"><b class="calm">Fecha</b></div>
        <!--div class="col" align="center"><b class="calm">Concepto</b></div-->
        <div class="col" align="center"><b class="calm">Monto (US$)</b></div>
        <div class="col" align="center"><b class="calm">Estado</b></div>
      </div>
      <div class = "row" ng-repeat="obligacion in proforma.lstObligacionPagoBean" ng-show="obligacion.lngEstadoObligacion!==ESTADO_OBLIGACION.ELIMINADO">
        <div class = "col" align="left">
        {{obligacion.fechaRegistro | date : "dd-MM-yyyy" : timezone}}
        </div>
        <!--div class = "col" >
        Separación
        </div-->
        <div class = "col" align="center">
          <span>{{obligacion.bdImporte | number:2}}</span>
        </div>
        <!-- inicio @feature/MasterCard -->
        <div align="center" ng-if="obligacion.lngEstadoObligacion===ESTADO_OBLIGACION.REGISTRADO" class = "col" >
          Pendiente
        </div>
        <div align="center" ng-if="obligacion.lngEstadoObligacion===ESTADO_OBLIGACION.PAGADO" class = "col balanced" >
          Pagado
        </div>
        <div align="center" ng-if="obligacion.lngEstadoObligacion===ESTADO_OBLIGACION.POR_CONFIRMAR" class = "col" >
          Por confirmar
        </div>
        <!--div ng-if="obligacion.lngEstadoObligacion===ESTADO_OBLIGACION.ELIMINADO" class = "col balanced" >
          cancelado
        </div-->
        <!-- fin @feature/MasterCard -->
      </div>
      
    </ul>


      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-ios-arrow-back" ui-sref="app.detalleCliente({prospectoID: prospectoID })"  style="width: 75%;">
            Regresar
          </button>
        </div>
      </div>
<!--</div>-->

  </ion-content>
</ion-view>
