<!--
/**
 * |--------------------------------------------------------------------------------------------------------|
 * |@issue                       |@version |@author          |@date      | @desc                            |
 * |--------------------------------------------------------------------------------------------------------|
 * |VD2-RQ30                     |1.0      |INIT GBENITES    |23.07.2018 |                                  |
 * |JIRAV3-002                   |1.0.1    |John Velasquez   |16.11.2018 | add link to state app.documentoContrato|
 * |--------------------------------------------------------------------------------------------------------|
 */
-->
<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Detalle de Restricción</span>
    </ion-nav-title>
    <ion-content>
        <ul class="item">
            <label class="col item row">
                <div class="col">
                    <p style="font-size: 1rem">C.C: {{detalleEventoContrato[0].contratoNumero}}</p>
                    <p ng-show="detalleEventoContrato[0].asociadoPersonaNombreCompleto" style="font-size: 1rem; white-space: initial;">{{detalleEventoContrato[0].asociadoPersonaNombreCompleto}}</p>
                    <p style="font-size: 1rem">Genera Doc. Digital:
                        <span ng-if="detalleEventoContrato[0].contratoDocumentoDigital == true">Si</span>
                        <span ng-if="detalleEventoContrato[0].contratoDocumentoDigital != true">No</span>
                    </p>
                </div>
            </label>

            <!--Evento Contrato-->
            <div ng-show="detalleEventoContrato.length>0" class="item item-divider assertive row ">
                <spam class="col assertive">Etapa del Contrato:</spam>
            </div>
            <div>
                <label class="item item-input row">
                    <div style="white-space: initial;" class="input-label col ng-binding" aria-label="">
                        {{detalleEventoContrato[0].eventoNombre}}
                    </div>
                    <span class="col ng-binding" ng-show="detalleEventoContrato[0].personaNombreCompleto" style="text-align: right; font-size: 0.9rem; white-space: initial;">
                        {{detalleEventoContrato[0].personaNombreCompleto}}
                    </span>
                </label>
            </div>

            <!--Documentos sin aprobación-->
            <section ng-if="documentosSinAprobacion != null && detalleEventoContrato[0].eventoID > 3">
                <div class="item item-divider assertive row ">
                    <spam class="col assertive" style="padding-bottom: 0.6em;">Documentos sin aprobación</spam>
                </div>
                <!--Documentos del contrato-->
                <div ng-show="documentosContrato.length > 0" class="col item item-divider row" style="font-weight: 500;font-size: 0.9rem;">
                    <spam class="col">Documentos del contrato</spam>
                </div>
                <div ng-repeat="dc in documentosContrato">
                    <label class="item item-input row">
                        <div style="font-size: 0.9rem; white-space: initial;" class="input-label col ng-binding"
                            aria-label="" id="_label-3">
                            {{dc.documentoNombre}}
                        </div>
                        <div class=""></div>
                        <span class="col ng-binding" style="text-align: right; font-size: 0.9rem; white-space: initial;">
                            {{dc.estadoDocumentoDescripcion}}
                        </span>
                    </label>
                </div>

                <!--Documentos del Titular/Respaldo-->
                <div ng-show="documentosPersona.length > 0" class=" item item-divider row" style="font-weight: 500;font-size: 0.9rem;">
                    <span class="col">Documentos del Asociado:</span>
                    <!-- inicio @issue JIRAV3-002 -->
                    <span class="col" style="text-align: end;padding: 0;">
                    <a class="button button-small button-assertive" ui-sref="app.documentoContrato({contratoId: contratoId})">
                        <b style="color: white;">ver documentos <i style="color: white;" class="icon ion-document"></i></b>
                    </a>
                    </span>
                    <!-- fin @issue JIRAV3-002 -->
                </div>
                <div ng-repeat="documentosPorPersona in documentoTitularORespaldo">
                    <div class="col item item-divider row" style="font-weight: 500;font-size: 0.9rem;background-color: #fff;">
                        <p class="col" style="white-space: initial;">{{documentosPorPersona.personaNombreCompleto}}
                            <span>{{mostrarTitularOrespaldo(documentosPorPersona.asociadoTipoId)}}</span></p>
                    </div>
                    <label ng-repeat="documentosDePersona in documentosPersona">
                        <div ng-if="documentosDePersona.personaNombreCompleto === documentosPorPersona.personaNombreCompleto"
                            class="item item-input row">
                            <div style="white-space: initial;" class="input-label col ng-binding" aria-label="" id="_label-3">
                                {{documentosDePersona.documentoNombre}}
                            </div>
                            <span class="col ng-binding" style="text-align: right">
                                {{documentosDePersona.estadoDocumentoDescripcion}}
                            </span>
                        </div>
                    </label>
                </div>
            </section>

            <!--Requisitos Eval. Pendientes-->
            <section ng-if="documentosSinAprobacion == null && requisitosPendientes != null">
                <div class=" item item-divider assertive row">
                    <span class="col assertive">Requisitos Eval. Pendientes:</span>
                </div>
                <div>
                    <div ng-repeat="pr in personaReqEvalPendiente">
                        <div class="col item item-divider row" style="font-weight: 500;font-size: 0.9rem;background-color: #fff;">
                            <p class="col" style="white-space: initial;">{{pr.personaNombreCompleto}} 
                                <span>{{ mostrarTitularOrespaldo(pr.asociadoTipoID) }} </span> </p>
                        </div>
                        <label ng-repeat="r in requisitosPendientes">
                            <div ng-if="r.personaNombreCompleto ===  pr.personaNombreCompleto" class="item item-input row">
                                <div style="white-space: initial;" class="input-label col ng-binding" aria-label="" id="_label-3">
                                    {{r.requisitoNombre}}
                                </div>
                                <span class="col ng-binding" style="text-align: right">
                                    {{r.estadoRequisito}}
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
            </section>

            <!--Observaciones-->
            <section ng-if="mostrarObservaciones()">
                <div class="item item-divider assertive row ">
                    <spam class="col assertive">Observaciones:</spam>
                </div>
                <div ng-if="detalleEventoContrato[0].eventoID === 4">
                    <label class="col item item-input row">
                        <div style="font-size: 0.9rem; font-weight: 600; white-space: initial;" class="col ng-binding"
                            aria-label="" id="_label-3">
                            Contrato pendiente de enviar al asistente de ingreso de ventas.
                        </div>
                    </label>
                </div>
                <div ng-if="detalleEventoContrato[0].eventoID >= 5 " ng-repeat="o in observaciones">
                    <label ng-show="mostrarTipoObservacion(o.tipoObservacion)" class="col item item-input row">
                        <div style="font-size: 0.9rem; font-weight: 600;" class="col ng-binding" aria-label="" id="_label-3">
                            {{mostrarTipoObservacion(o.tipoObservacion)}}
                        </div>
                        <div class=""></div>
                        <span class="col ng-binding" style="font-size: 0.9rem; white-space: initial;">
                            {{o.tipoObservacionDetalle}}
                        </span>
                    </label>
                </div>
            </section>
        </ul>
        <div class="row">
            <div class="col text-center">
                <button class="button button-calm icon icon-left ion-ios-arrow-back" ng-click="regresar()" style="width: 75%;">
                    Regresar
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
<!--
FIN GBENITES - VD2-RQ30 - 23.07.2018
-->
