<!--
 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |VTAOBS1-55                   |1.0.1    |John Velasquez   |28.09.2017 |  |
 |JIRAV3-005				   |1.0.2    |John Velasquez   |26.11.2018 | ocultar boton nueva proforma, sequimiento y editar en modo de solo lectura |
 |V4-HU007				       |1.2.0    |John Velasquez   |01.07.2019 | Mostrar el nombre del EDV|
 |V4-HU021				       |1.3.0    |John Velasquez   |01.07.2019 | Mostrar el punto de venta|
 |V4-HU007				       |1.2.0    |John Velasquez   |01.07.2019 | Mostrar el nombre del EDV|
-->
<ion-view >
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<span ng-show="!vm.inEdition">Resumen de Prospecto</span>
		<span ng-show="vm.inEdition">Edición de Prospecto</span>
	</ion-nav-title>
	<ion-content>
		<p ng-show="vm.inEdition"></p>
		<ul class="list">
			<div class="item item-divider assertive row " ng-show="!vm.inEdition">
				<!--INICIO - modificado por John Velasquez - VTAOBS1-55 - 28.09.2017-->				
				<spam class="col assertive">Datos de Prospecto <i ng-show="vm.client.isValidated" class="ion-icon icon ion-checkmark-circled" style="color: green"></i></spam>
				<!--FIN - modificado por John Velasquez - VTAOBS1-55 - 28.09.2017-->
                <!-- inicio @issue JIRAV3-005 -->
				<a ng-if="modoSoloLectura !== true" class="button button-small button-assertive" ui-sref="app.editarProspecto({nroDocumento : vm.client.numeroDocumento, tipoDocumento: vm.client.tipoDocumento, prospectoID : vm.client.prospectoID})">
					Editar
				</a>
                <!-- fin @issue JIRAV3-005 -->
			</div>
			<!--DOCUMENTO-->
			<div class="row header" ng-show="vm.inEdition">
				<div class="col col-20" align="left">
					<button class="button button-calm" modal-select="" ng-model="vm.client.strDoctype" options="vm.lstTipoDocumento" ng-show="vm.inEdition" modal-title="Tipos de Documento" cancel-button="Cancelar" hide-reset="true" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="Buscar" cancel-search-button="Limpiar">
			      {{vm.client.strDoctype.descripcionCorta}}
			      <div class="option">
			        {{option.descripcion}}
			      </div>
			  	</button>
				</div>
				<div class="col col-60">
					<input type="tel" ng-model="vm.client.strDocument" placeholder=" Nro de Documento" style="text-align:center;text-transform:uppercase; font-size:16px;">
				</div>
				<div class="col col-20" align="right">
					<a class="button button-icon icon ion-search" ng-click="buscarProspecto()"></a>
				</div>
			</div>
			<label class="item item-input row" >
		    <div class="input-label col">
		      Tipo de documento:
		    </div>
				<div class="row"></div>
				<span style='text-align: right;'>		    
					{{vm.mapTipoDocumento[vm.client.tipoDocumento].descripcion}}
				</span>
		  </label>
			<!--NRO DOCUMENTO-->
			<label class="item item-input row" >
		    <div class="input-label col">
		     Nro. de documento:
		    </div>
				<div class="row"></div>
		    <span style='text-align: right;text-transform: uppercase;'>	
					{{vm.client.numeroDocumento}}
		    </span>	    
		  </label>
			<!--NOMBRES-->
		  <label class="item item-input row" ng-show="vm.client.tipoDocumento === vm.TIPO_DOCUMENTO.RUC">
			    <div class="input-label col">
			     Razón Social:
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{vm.client.personaRazonSocial}}
				</span>    
		  </label>
		  <label class="item item-input row" ng-show="vm.client.tipoDocumento === vm.TIPO_DOCUMENTO.RUC">
			    <div class="input-label col">
			     Contacto:
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{vm.client.contacto}}
				</span>    
		  </label>

		  <label class="item item-input row" ng-show="vm.client.tipoDocumento !== vm.TIPO_DOCUMENTO.RUC">
			    <div class="input-label col">
			     Nombres:
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{vm.client.nombres}}
				</span>    
		  </label>
			<!--APELLIDOS-->
			<label class="item item-input row" ng-show="vm.client.tipoDocumento !== vm.TIPO_DOCUMENTO.RUC">
		    <div class="input-label col">
		    Apellido Paterno:
		    </div>
				<div class="row"></div>
		    <span style='text-align: right;'>		    
					{{vm.client.apellidoPaterno}}
				</span>    
		  </label>						


			<label class="item item-input row" ng-show="vm.client.tipoDocumento !== vm.TIPO_DOCUMENTO.RUC">
		    <div class="input-label col">
		    Apellido Materno:
		    </div>
				<div class="row"></div>
		    <span style='text-align: right;'>		    
					{{vm.client.apellidoMaterno}}
				</span>    
		  </label>
			<!--CORREO-->
		  <label class="item item-input row">
		    <div class="input-label col">
		    Correo:
		    </div>
				<div class="row"></div>
		    <span style='text-align: right;'>		    
					{{vm.client.correoElectronico}}
				</span>    
		  </label>
			<!--TELEFONO-->
		  <label class="item item-input row" ng-if="vm.client.numeroTelefono">
		    <div class="input-label col">Teléfono:</div>
			<div class="row"></div>
		    <span style='text-align: right;'>		    
					{{vm.client.numeroTelefono}}
			</span>    
		  </label>

		  <label class="item item-input row" ng-if="vm.client.numeroCelular">
		    <div class="input-label col">Celular:</div>
			<div class="row"></div>
		    <span style='text-align: right;'>		    
					{{vm.client.numeroCelular}}
			</span>    
		  </label>		  
		  
		  <div ng-show="vm.client.proformas">
				<div class="item item-divider assertive row">
					<spam class="col assertive">Proformas</spam>
                    <!-- inicio @issue JIRAV3-005 -->
					<a ng-if="modoSoloLectura !== true" class="button button-small button-assertive" ui-sref="app.seguimientoCliente({prospectoID : vm.client.prospectoID})">
                    <!-- fin @issue JIRAV3-005 -->
		    	Seguimiento
	    	</a>
				</div>
			    <!-- inicio V4-HU007 -->
				<div class="list card" ng-repeat='prospect in vm.client.proformas' ng-style="prospect.esBloqueado && {'background-color':'#d4d4c4'}">
					<div class="item item-avatar" style="background: none;" >
				<!-- fin V4-HU007 -->
						<img ng-src="{{prospect.nmSeparationPct>0 && 'img/icon-wage.png' || 'img/icon-wage-grayscale.png'}}"
						 ng-style="prospect.nmSeparationPct>0 && {'clip-path':'inset({{(100-prospect.nmSeparationPct)}}% 0 0 0)', 'background-color':  '#E0E0E0', 'z-index': '51'} || {'clip-path':'inset({100% 0 0 0)', 'background-color':  '#E0E0E0', 'z-index': '51'}">
						<img style="background-color:#E0E0E0;    
												position: absolute;
												top: 16px;
												left: 16px;
												max-width: 40px;
												max-height: 40px;
												width: 100%;
												height: 100%;
												border-radius: 50%;
												z-index:50">
						<h2 class="row" style="padding-left:0%; padding-right: 1em;">
							{{prospect.productoBean.productoNombre}}
							<small style='text-align: right; font-size:0.75em;' class="col">
									{{prospect.fechaCreacion}}
							</small>
						</h2>
						<h2 class="row" style="padding-left:0%; padding-right: 1em;">
							N° {{prospect.proformaID}}
							<small style='text-align: right; font-size:0.75em;' class="col">
									{{prospect.horaCreacion}}
							</small>
						</h2>						
						<p></p>
						<div class="row col-100" style="padding: 0px;position: relative; left: -4em;
					    		width: 130%">
							<p class="col-33">
								<small>Grupo {{prospect.grupoBean.grupoNumero}}</small>
							</p>
							<p class="col-20">
							</p>
							<p class="col-35">
								<small>Certificado {{prospect.certificadoBean.certificadoValor | currency:"US$":2}}</small>
							</p>
						</div>
						<div class="row col-100" style="padding: 0px;position: relative; left: -4em;
					    		width: 130%">
							<p class="col-40">
								<small class="balanced" >{{prospect.mMensjae}}</small>
							</p>
							<p class="col-20">
								
							</p>
							<p class="col-40">
								<small style="color: #FF5722;">{{prospect.mMensjaeSep}}</small>
							</p>
						</div>

						<!-- inicio V4-HU019 -->
						<div class="row col-100" style="padding: 0px;position: relative; left: -4em;width: 130%" ng-if="prospect.tieneDebito">
							<small class="positive-bg" style="margin-top: 1.1em; border-radius: 0.5em; padding: 0.1em 0.5em; color: white;">Débito automático {{prospect.contratoDebito[0] ? prospect.contratoDebito[0].banco : ''}}</small>
						</div>
						<!-- fin V4-HU019 -->
						<a ng-if="!prospect.esBloqueado" class="button button-icon icon ion-android-more-vertical" style="z-index: 12 !important;
						              position: absolute !important;
						              top: 10px !important;
						              right: 10px !important;
						              border-radius: 50% !important;" ng-click="vm.showOptions($index,prospect)">
						</a>

					</div>
					<!-- inicio V4-HU007 -->
					<div ng-if="prospect.esBloqueado" class="row col-100">
						<small>EDV: {{prospect.vendedorNombre ? prospect.vendedorNombre : 'Información no disponible'}}</small>
						<span class="col"></span>
						<small style="text-align: right">({{prospect.vendedorProductoNombre ? prospect.vendedorProductoNombre : 'Producto no disponible'}})</small>
					</div>
					<!-- fin V4-HU007 -->
					<!-- inicio V4-HU021 -->
					<div class="row col-100">
						<small>Punto de venta: {{prospect.puntoExhibicionNombre ? prospect.puntoExhibicionNombre : 'Información no disponible'}}</small>
					</div>
					<!-- fin V4-HU021 -->
				</div>
			</div>
		</ul>

	<div class="row" ng-show="vm.inEdition"> 
        <div class="col text-center">
          <button class="button button-assertive icon icon-right ion-ios-arrow-forward" ng-click="vm.inEdition=false"  style="width: 75%;">
            Continuar
          </button>
        </div>
      </div>
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-ios-arrow-back" ng-click="vm.regresar()" style="width: 75%;">
            Regresar
          </button>
        </div>
      </div>

	</ion-content>
        <!-- inicio @issue JIRAV3-005 -->
		<button ng-if="modoSoloLectura !== true" class="button button- button-assertive icon ion-plus-round" style="z-index: 12 !important;
              position: absolute !important;
              bottom: 10px !important;
              right: 10px !important;
              border-radius: 50% !important;
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;" ng-show="!vm.inEdition"
              ng-click="buscarProspecto(vm.client.tipoDocumento, vm.client.numeroDocumento)">
    	</button>
        <!-- fin @issue JIRAV3-005 -->
</ion-view>
