<ion-view class="forms-view">
        <ion-nav-bar class="bar app-top-bar bar-header">
            <ion-nav-back-button class="button-icon ion-android-arrow-back">
            </ion-nav-back-button>
        </ion-nav-bar>
    <ion-nav-title>
        <span>Documentos</span>
    </ion-nav-title>
    <ion-content scroll="false">
        <div class="padding" style="border-bottom: 1px solid #ddd">
                <h4>Documentos del Contrato</h4>
                <h5>CC: {{documentoContrato.contratoNumero}}</h4>
                <h6>Certificado: {{documentoContrato.certificadoValor | currency:'US$':2}}</h5>
        </div>    
        <ion-scroll direction="y" has-bouncing="true">
            <ul class="list">
                <li ng-repeat="asociado in documentoContrato.listaAsociados" 
                    class="card"
                    ng-click="irPersona(asociado.personaId)"
                    style="position: relative">
                    <div class="item item-divider">
                        <h2 class="assertive">{{asociado.tipoAsociadoLabel}}</h2>
                        <h3 class="assertive">{{asociado.nombreCompleto}}</h3>
                    </div>          
                    <div class="padding">                        
                        <h5>{{asociado.tipoDocumentoLabel}}: {{asociado.numDocumento}}</h5>
                        <p ng-class="{
                            positive: asociado.estadoDocumento==estadoDocumento.COMPLEATO,
                            energized: asociado.estadoDocumento==estadoDocumento.DEPENDIENTE_REVISION,
                            warnin: asociado.estadoDocumento==estadoDocumento.DEPENDIENTE
                        }">Estado de Documentos: {{asociado.documentoEstadoLabel}}</p>                    
                    </div>                                                      
                    <span class="badge badge-assertive" style="position: absolute; bottom:3px;right:5px;top:auto">{{asociado.numDocParciales}}/{{asociado.numDocTotales}}</span>
                </li>
            </ul>                     
        </ion-scroll>            
    </ion-content>
</ion-view>