<ion-view class="profile-view">
        <ion-nav-buttons side="left">                
                <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
                    <i class="icon ion-android-arrow-back"></i>
                </button>
        </ion-nav-buttons>        
        <ion-nav-title>
          <span>Editar Perfil</span>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-small button-icon ion-checkmark" ng-click="guardar()"></button>
        </ion-nav-buttons>
        <ion-content> 
            <div class="top-content row" style="margin-bottom: 15em;">
                <div class="profile-container">
                    <div class="user-image-container" style="max-width: 15em;min-width: 15em;position: relative">
                        <pre-img ratio="_1_1" helper-class="rounded-image card" style="max-width: 15em;">
                            <img class="user-image" src="data:image/png;base64,{{me.imagenUsuario}}" spinner-on-load style="max-width: 15em;z-index: 1;height: 100%;">                            
                        </pre-img>
                        <button class="button button-small button-icon icon ion-edit card" style="
                        position: absolute;
                        top: 53%;
                        right: 0em;
                        z-index: 1;
                        background: #efefef;
                        border-radius: 50%;
                        height: 4em;
                        width: 4em;
                        border: solid 0.3em #f9f9f9;
                        "
                        ng-click="cambiarImagenDeUsuario()"></button>
                        <div class="row">              
                            <div class="col-md-2 col-md-offset-5">{{me.vendedor.personNombreCompleto}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-background-image-outer">
                <div multi-bg="img/edv.png" spinner-on-load></div>
            </div>
            <br>
            <br>
            <div class="list">
                <div class="item item-divider">Datos de Contacto</div>
                <label class="item item-input item-floating-label" ng-repeat="tel in telefonos">
                  <span class="input-label">{{tel.descripcion}}</span>
                  <input type="tel" placeholder={{tel.descripcion}} ng-model="tel.numero" maxlength="9" ng-change="tel.numero=validacionService.formatearTelefono(tel.numero)">
                </label>
              </div>
        </ion-content>
</ion-view>