<ion-view class="forms-view">
 <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>-->
  <ion-nav-title>
    <span>Mi Avance</span>
  </ion-nav-title>
  <ion-content>

    <canvas id="base" class="chart-horizontal-bar"
      chart-data="data" chart-labels="labels" >
    </canvas> 

  </ion-content>
</ion-view>
