<ion-view class="forms-view">         
        <ion-tabs class="tabs-icon-top">
            
            <ion-tab title="Datos Contrato" icon="icon ion-clipboard" ng-click="irAContrato();">
                <ion-nav-view cache-view="false"  name="datosContrato" ></ion-nav-view>
            </ion-tab>

            <ion-tab title="Datos Cliente" icon="icon ion-person" ng-click="irATitulares();">
                <ion-nav-view cache-view="false" name="datosPersona" ></ion-nav-view>
            </ion-tab>  

        </ion-tabs>
</ion-view>
