<ion-view class="forms-view">
    <ion-nav-buttons side="left">
		<!--button menu-toggle="left" class="button button-icon icon ion-navicon"></button-->
		<button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
			<i class="icon ion-android-arrow-back"></i>
		</button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Detalle de Incidencia</span>
    </ion-nav-title>        
    <ion-content scroll="false">        
        <chat chat="chat" message-max-length="mensajeMaxLength"></chat>
    </ion-content>
</ion-view>