<ion-view class="forms-view">
    <ion-nav-buttons side="left">
		<!--button menu-toggle="left" class="button button-icon icon ion-navicon"></button-->
		<button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
			<i class="icon ion-android-arrow-back"></i>
		</button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Detalle de Incidencia</span>
    </ion-nav-title>        
    <ion-content>        
        <ion-list>
			<label class="item item-input">
				<p style="margin: auto">
					<small class="balanced" >#Ticket: {{incidencia.numeroTicket}}</small>
				</p>
			</label>
            <label class = "item item-input item-select item-light col" data-tap-disabled="true" style="border: none">
                <div class="input-label col high-text" >Estado :</div>
                <select ng-model="incidencia.estado" ng-options="estado.label for estado in estados" class="col" ng-disabled="!puedeEditarEstado()" >
                    <!--option ng-repeat="estado in estados" ng-show="estado.mostrar==true" ng-value="estado.codigo">{{estado.label}}</option-->                            
                </select>
            </label>
            <label class="item item-input row">
			    <div class="input-label col high-text">
			     Asunto :
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{incidencia.asunto}}
				</span>    
            </label>
            <label class="item item-input row">
			    <div class="input-label col high-text">
			     Fecha de creación :
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{incidencia.fechaCreacion}} {{incidencia.horaCreacion}}
				</span>    
            </label>
            <label class="item item-input row">
			    <div class="input-label col high-text">
			     Punto de venta :
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{incidencia.puntoVentaNombre}}
				</span>    
            </label>
            <label class="item item-input row">
			    <div class="input-label col high-text">
			     Categoría :
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{incidencia.categoriaNombre}}
				</span>    
            </label>
            <label class="item item-input row">
			    <div class="input-label col high-text">
			     Tipo de incidencia :
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{incidencia.tipoCategoriaNombre}}
				</span>    
            </label>
            <label class="item item-input row">
			    <div class="input-label col high-text">
			     Propietario :
			    </div>
					<div class="row"></div>
			    <span style='text-align: right;'>		    
						{{incidencia.propietarioNombre}}
				</span>    
			</label>			
		</ion-list>
		<div class="row padding">
				<a class="button button-icon icon button-icon-large col ion-chatbubble" ng-click="irChat(incidencia.chatId)">
						<span data-ng-if="incidencia.mensajesPendientes > 0" class="badge badge-assertive" style="top:-1em;right:1em">{{incidencia.mensajesPendientes}}</span>
				</a>
				<a class="button button-icon icon button-icon-large col ion-checkmark-circled" ng-click="actualizarEstado()" ng-show="puedeEditarEstado()"></a>
		</div>
    </ion-content>
</ion-view>
