<ion-view class="forms-view">
  <ion-nav-buttons side="left" >
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Confirmación</span>
  </ion-nav-title>
  <ion-content>

    <div align="center" style="vertical-align: middle;">
        <br>
        <br>
        <br>
          <b class="calm padding " style="font-size:16px;text-align: center;"  align="center">Los datos se han registrado satisfactoriamente.</b>
        <br>
        <br>
        <br>
          <b class="assertive padding " style="font-size:16px;text-align: center;"  align="center">Se generó el Nro de Contrato {{numContrato.numContrato}}</b>      
        <br>
        <br>
        <br>
          <b class="padding " style="font-size:16px;text-align: center;"  align="center" ng-show="tempContrato.contratoBean.cuotaTotalMensualPendiente>0">Se ha enviado un correo electrónico al<br> cliente indicando los medios<br> de pago</b>
          <b class="padding " style="font-size:16px;text-align: center;"  align="center" ng-hide="tempContrato.contratoBean.cuotaTotalMensualPendiente>0">Se ha enviado un correo electrónico al cliente indicando el registro de su contrato</b>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="row" ng-show="numContrato.debitoAutomaticoVisanet">
            <!--div class="col text-center" ng-if="!numContrato.debitoAutomaticoVisanetCorreoEnviado">
                <button class="button button-positive icon icon-right ion-card"  style="width: 75%;" ng-click="enviarCorreoDebitoAutomaticoVisanet();">
                    Débito Automático Visanet
                </button>
            </div-->
            <div class="col text-center" ng-if="numContrato.debitoAutomaticoVisanetCorreoEnviado">
                <span><i class="positive icon ion-checkmark-circled"></i> Débito Automático Visanet, invitación enviada </span>
            </div>
            <p></p>
        </div>
      <div class="row" ng-show="tempContrato.contratoBean.cuotaTotalMensualPendiente>0"> 
        <div class="col text-center">
	    <!-- inicio @feature/MasterCard -->
	        <!--button class="button button-assertive icon icon-right ion-social-usd"  style="width: 75%;" ng-click="pagarObligacionMPOS();" ng-disabled="deshabilitaPago">
            Pagar con Mpos-->
          <button class="button button-assertive icon icon-left ion-social-usd"  style="width: 75%;" ng-click="pagarObligacionMPOS();" ng-disabled="deshabilitaPago">
            Pagar con Visa
          </button>
	    <!-- fin @feature/MasterCard -->
        </div>
      </div>
      <!-- INICIO card-28942911 - Anderson Estela Coronel  - 02/mar/2021 -->
        <!-- inicio @feature/MasterCard -->
        <!-- div class="row">
          <div class="col text-center">
            <button class="button button-assertive icon icon-left ion-social-usd" style="width: 75%;"
              ng-click="pagarObligacionMastercard();" ng-disabled="deshabilitaPago">
              Pagar con Mastercard
            </button>
          </div>
        </div -->
        <!-- fin @feature/MasterCard -->
        <!-- FIN card-28942911 - Anderson Estela Coronel  - 02/mar/2021 -->
             <!-- inicio @feature/pagoLink-->
        <div class="row" ng-if="me.indPagoLink">
        <div class="col text-center">
          <button class="button button-assertive icon icon-left ion-social-usd" style="width: 75%;"
            ng-click="pagarObligacionPagoLink();"
            ng-disabled="deshabilitaPago">
            Pagar con Pago Link
          </button>
        </div>
      </div>
      <!-- fin @feature/pagoLink-->
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-checkmark" ng-click="finalizar()"  
            style="width: 75%;">
            Finalizar
          </button>
        </div>
      </div>

<!--</div> app.tiposDocumentos -->
    </div>
  </ion-content>
</ion-view>
