<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Confirmación</span>
  </ion-nav-title>
  <ion-content>

    <div align="center" style="vertical-align: middle;">
        <br>
        <br>
        <br>
          <b class="calm padding " style="font-size:16px;text-align: center;"  align="center">Los datos se han registrado satisfactoriamente.</b>
        <br>
        <br>
        <br>
          <b class="assertive padding " style="font-size:16px;text-align: center;"  align="center">Se generó la obligación</b>      
        <br>
        <br>
        <br>
          <b class="padding " style="font-size:16px;text-align: center;"  align="center">Se ha enviado un correo electrónico al<br> cliente indicando los medios<br> de pago</b>
        <br>
        <br>
        <br>
        <br>
        <br>

      
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-assertive icon icon-left ion-social-usd"  style="width: 75%;" ng-click="pagarObligacionMPOS();" ng-disabled="deshabilitaPago">
            <!-- inicio @feature/MasterCard -->
            <!--Pagar con Mpos -->
            Pagar con Visa
            <!-- fin @feature/MasterCard -->
          </button>
        </div>
      </div>
      <!-- INICIO card-28942911 - Anderson Estela Coronel  - 02/mar/2021 -->
      <!-- inicio @feature/MasterCard -->
      <!-- div class="row">
        <div class="col text-center">
          <button class="button button-assertive icon icon-left ion-social-usd" style="width: 75%;"
            ng-click="pagarObligacionMastercard();"
            ng-disabled="deshabilitaPago">
            Pagar con Mastercard
          </button>
        </div>
      </div -->
      <!-- fin @feature/MasterCard -->
      <!-- FIN card-28942911 - Anderson Estela Coronel  - 02/mar/2021 -->
      <!-- inicio @feature/pagoLink-->
      <div class="row" ng-if="me.indPagoLink">
        <div class="col text-center">
          <button class="button button-assertive icon icon-left ion-social-usd" style="width: 75%;"
            ng-click="pagarObligacionPagoLink();"
            ng-disabled="deshabilitaPago">
            Pagar con Pago Link
          </button>
        </div>
      </div>
      <!-- fin @feature/pagoLink-->
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-checkmark" ng-click="continuar();"  style="width: 75%;">
            Finalizar
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
