<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Tipo de Documento</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">


      <button class="button button-block button-assertive" ui-sref="app.confirmacionBien">
        Generar Contrato
      </button>
      <button class="button button-block button-assertive" ui-sref="app.crearObligacion">
        Pago a Cuenta
      </button>
      <button class="button button-block button-assertive" ui-sref="app.confirmacionCliente">
        Consultar Pagos
      </button>
      
<!--</div>-->
    </ul>
  </ion-content>
</ion-view>
