<ion-view class="forms-view">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-title>
            <span>Mis Incidencia</span>
        </ion-nav-title>        
        <ion-content>
            <ion-list>
                <div class="row" style="border-bottom: solid 1px darkgray">
                    <label class = "item item-input item-select item-light col" data-tap-disabled="true" style="border: none">
                        <div class="input-label">
                            Filtrar por: 
                        </div>
                        <select ng-model="filtro.codigo" ng-options="fltr.codigo as fltr.label for fltr in filtros" ng-change="bucarIncidenciasPorEstado(filtro.codigo)" class="col">
                            <option value="" selected disabled>Seleccione</option>
                        </select>                    
                    </label>   
                    <!--<button class="button button-small button-assertive icon ion-android-funnel" ng-click="bucarIncidenciasPorEstado(filtro.codigo)"></button>-->                     
                </div>
                <div class="item item-divider" ng-show="incidencias.length>0">
                    Resultados
                </div>
                <incidencia ng-repeat="incidencia in incidencias" incidencia="incidencia" ng-click="irDetalleIncidencia(incidencia)"></incidencia>
            </ion-list>
        </ion-content>
</ion-view>
