<ion-view class="forms-view" ng-init="vm.showBtnNew=true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Mis Separaciones</span>
    </ion-nav-title>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar" ng-model='search.query'>
            </label>
        </div>
        <div class="list">
            <proforma-card mostrar-nombre-vendedor="me.tipoUsuarioVentas==tipoVenderor.SUPERVISOR||me.tipoUsuarioVentas==tipoVenderor.OFICINA" proforma="separacion" ng-repeat='separacion in misSeparaciones | filter: search.query'></proforma-card>
        </div>
    </ion-content>
</ion-view>
