<div class="row" style="position: absolute; top: 30%"> 
    <div class="col text-center">
        <h3>No se puede acceder al servidor, verifique su conexión a internet</h3>
    </div>
</div>
<div class="row" style="position: absolute; bottom: 10%;"> 
    <div class="col text-center">
        <button class="button button-assertive"  
                style="width: 75%;"
                ng-click="actualizar()">
        Actualizar
        </button>
    </div>
</div>
