<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Nueva Incidencia</span>
    </ion-nav-title>
    <ion-content>
    <form name="incidenciaForm" novalidate="">
        <ul class="list">
            <!--FFVV-->
            <!--<label class="item item-input" ng-show="esVendedor()">-->
            <label class="item item-input" >
                <input type="text" placeholder="FFVV" ng-model="incidencia.fuerzaDeVentaNombre" style="text-transform:uppercase; font-size:16px;" disabled="true">
            </label>
            <label class = "item item-input row" style="padding: 0.5em;" ng-hide="true">                
                <button ng-hide="true" modal-select="" ng-model="incidencia.fuerzaDeVenta" 
                options="fuerzasDeVenta" has-search="true" modal-title="FFVV" cancel-button="Cancelar" 
                hide-reset="true" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="FFVV" cancel-search-button="Limpiar">          
                    <div class="option" ng-hide="!option.nombreCompleto.trim()">
                        <span style="font-size: 12px; overflow:hidden; width: 100%;"> {{option.nombreCompleto}} </span>
                    </div>
                </button>       
                
                <div class="col col-100" style="overflow: hidden;">
                    <span class="input-label col col-100" style="width: 100%; white-space:normal; max-width:100%" > 
                    {{incidencia.fuerzaDeVenta?incidencia.fuerzaDeVenta.nombreCompleto:'FFVV'}}
                    </span>
                </div>
            </label>
            <!--Punto de venta-->
            <label class = "item item-input row" style="padding: 0.5em;">                
                <button ng-hide="true" modal-select="" ng-model="incidencia.puntoVenta" 
                options="puntosDeVentas" has-search="true" modal-title="Puntos de Venta" cancel-button="Cancelar" 
                hide-reset="true" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="Punto de exibicion" cancel-search-button="Limpiar">          
                    <div class="option" ng-hide="!option.descripcion.trim()">
                        <span style="font-size: 12px; overflow:hidden; width: 100%;"> {{option.descripcion}} </span>
                    </div>
                </button>       
                
                <div class="col col-100" style="overflow: hidden;">
                    <span class="input-label col col-100" style="width: 100%; white-space:normal; max-width:100%" > 
                    {{incidencia.puntoVenta?incidencia.puntoVenta.descripcion:'Escoja un punto de venta'}}
                    </span>
                </div>
            </label>
            <!--Tipo categoria-->
            <label class = "item item-input row" style="padding: 0.5em;">                
                <button ng-hide="true" modal-select="" ng-model="incidencia.tipoCategoria" 
                options="tiposCategoria" has-search="true" modal-title="Tipos de categoria" cancel-button="Cancelar" 
                hide-reset="true" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="Tipo de categoria" cancel-search-button="Limpiar">          
                    <div class="option" ng-hide="!option.descripcion.trim()">
                        <span style="font-size: 12px; overflow:hidden; width: 100%;"> {{option.descripcion}} </span>
                    </div>
                </button>       
                
                <div class="col col-100" style="overflow: hidden;">
                    <span class="input-label col col-100" style="width: 100%; white-space:normal; max-width:100%" > 
                    {{incidencia.tipoCategoria?incidencia.tipoCategoria.descripcion:'Escoja el tipo de categoría'}}
                    </span>
                </div>
            </label>
            <!--categoria-->
            <label class = "item item-input row" style="padding: 0.5em;">                
                <button ng-hide="true" modal-select="" ng-model="incidencia.categoria" 
                options="categorias" has-search="true" modal-title="Categorias" cancel-button="Cancelar" 
                hide-reset="true" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="Categoria" cancel-search-button="Limpiar">          
                    <div class="option" ng-hide="!option.descripcion.trim()">
                        <span style="font-size: 12px; overflow:hidden; width: 100%;"> {{option.descripcion}} </span>
                    </div>
                </button>       
                
                <div class="col col-100" style="overflow: hidden;">
                    <span class="input-label col col-100" style="width: 100%; white-space:normal; max-width:100%" > 
                    {{incidencia.categoria?incidencia.categoria.descripcion:'Escoja la categoría'}}
                    </span>
                </div>
            </label>
            <!--Asunto-->
            <label class="item item-input">
                <input type="text" placeholder="Asunto" ng-model="incidencia.asunto" style="font-size:16px;">
            </label>
            <!--Mensaje-->
            <label class="item item-input">
                <textarea placeholder="Mensaje" ng-trim="true" ng-model="incidencia.mensaje" ng-maxlength="mensajeMaxLength" maxlength="{{mensajeMaxLength}}" style="font-size:16px;height : 12em"></textarea>
                <character-counter text = "incidencia.mensaje" max-length="mensajeMaxLength"></character-counter>
            </label>
            <!--Imagen adjunta-->
            <cargador-imagenes-lista-horizontal maximo-imagenes="imagenesMaximas" ng-model="incidencia.dataUrls">        
            </cargador-imagenes-lista-horizontal>

            <div class="row"> 
                <div class="col text-center">
                    <button class="button button-assertive icon icon-left ion-checkmark" ng-click="enviarIncidencia(incidenciaForm)">
                        Enviar
                    </button>
                </div>
            </div>
        </ul>             
    </form>
    </ion-content>
</ion-view>