<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Pago CIA</span>
    </ion-nav-title>
    <ion-content>
        <contrato-search on-search="buscarContrato($event)" tipo="busqueda.tipo" valor1="busqueda.valor1" valor2="busqueda.valor2"></contrato-search>
        <div class="list card" ng-repeat="contrato in contratos">
            <contrato-cia-card contrato="contrato" ionic-popover="contratoCiaOptionsPopover" on-open-ionic-popover="onOpenContratoCiaOption($event,$contrato)">

            </contrato-cia-card>
        </div>
    </ion-content>
    <!-- INICIO VTADIG2-486 11/06/2018 - JOSE MARTINEZ -->
    <script id="contrato-cia-popover.html" type="text/ng-template">
        <ion-popover-view style="height: 30%;">
            <ion-content>
                <div class="list">
                    <a  class="item" ng-repeat="option in contratoCiaOptions" 
                        ng-click='selectContratoCiaOption(option)' ng-show='option.mostrar'>
                        {{option.label}}
                    </a>
                    <a  class="item">

                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>    
    
</ion-view>
<!--
<script id="contrato-cia-popover.html" type="text/ng-template">
    <ion-popover-view style="height: 30%;">
        <ion-content>
            <div class="list">
                <a  class="item" ng-repeat="option in contratoCiaOptions" 
                    ng-click='selectContratoCiaOption(option)' ng-show='option.mostrar'>
                    {{option.label}}
                </a>
                <a  class="item">

                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
-->
<!-- FIN VTADIG2-486 11/06/2018 - JOSE MARTINEZ -->
