<ion-view class="profile-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Perfil</span>
  </ion-nav-title>
  <!-- /*INICIO - JOHN VELASQUEZ - EDITAR PERFIL*/-->
  <ion-nav-buttons side="right">
    <button ui-sref="app.editProfile" class="button button-small button-icon icon ion-edit"></button>
  </ion-nav-buttons>
  <!-- /*INICIO - JOHN VELASQUEZ - EDITAR PERFIL*/-->
  <ion-content>
    <div class="top-content row" style="margin-bottom: 12em">
      <div class="profile-container">
        <div class="user-image-container" style="max-width: 35em;">
          <pre-img ratio="_1_1" helper-class="rounded-image card" style="max-width: 15em;">
            <img class="user-image" src="data:image/png;base64,{{me.imagenUsuario}}" spinner-on-load style="max-width: 15em;z-index: 1;height: 100%;">
          </pre-img>
        </div>

        <!--   <div class="user-twitter">@brynn</div>-->
      </div>
    </div>

    <div class="row">
      <p style="text-align:center;width:100%">{{me.personNombreCompleto}}</p>
    </div>

    <div class="row">
      <div class="span6" style="float: none; margin: 0 auto;">
        <img class="user-image" src="img/144x144.png" style="max-height: 6em;max-width: 6em;z-index: 1;">
      </div>
    </div>

    <div align="center" style="vertical-align: middle;padding:0px;">
      <div class="user-background-image-outer">
        <div multi-bg="img/edv.png" spinner-on-load></div>
      </div>
      <b class="assertive padding " style="font-size:16px;text-align: center;" align="center">{{me.mensajeBienvenida}}</b>
      <br>
      <br>
      <br>
    </div>

    <div class="row" ng-if="miEmbudo" style="padding:0;">
      <div class=" col col-sm-1 col-md-2 col-lg-3" style="padding: 0em"></div>
      <div class=" col col-sm-5 col-md-4 col-lg-3" style="padding: 0em">
        <div class="list">
          <!--label class="item item-input" style="border:none; padding:0;">
            <i class="ion-calendar custom-icon" style="font-size: 15px;padding:0.2em;"></i>
            <span class="input-label" style="font-weight: bold;font-size: 15px;padding:0;position:relative;">Desde</span>
            <input id="firstDayId" type="date" style="text-align: right;padding:0;position:relative; left: -1em;padding-top: 0.7em;"
              ng-model='dates.firstDay' ng-change="filterByDate()">
          </label-->
          <label class="item item-input item-stacked-label custom-item-stacked-label-profile-embudo-filter">
            <i class="ion-calendar custom-icon" style="font-size: 15px;padding:0.2em;"></i>
            <span class="input-label" style="font-weight: bold;font-size: 15px;padding:0;position:relative;">Desde</span>
            <input id="firstDayId" type="date" style="text-align: left;padding:0;padding-top: 0.7em;"
              ng-model='dates.firstDay' ng-change="filterByDate()">
          </label>
        </div>
      </div>
      <div class=" col col-sm-5 col-md-4 col-lg-3" style="padding: 0em">
        <div class="list">
          <!--label class="item item-input" style="border:none;padding:0;">
            <i class="ion-calendar custom-icon" style="font-size: 15px;padding:0.2em"></i>
            <span class="input-label" style="font-weight: bold;font-size: 15px;padding:0;position:relative;">Hasta</span>
            <input id="lastDayId" style="text-align: right;padding:0;position:relative; left: -1em;padding-top: 0.7em;" type="date" ng-model='dates.lastDay'
              ng-change="filterByDate()">
          </label-->
          <label class="item item-input item-stacked-label custom-item-stacked-label-profile-embudo-filter" style="position: relative;">
            <i class="ion-calendar custom-icon" style="font-size: 15px;padding:0.2em"></i>
            <span class="input-label" style="font-weight: bold;font-size: 15px;padding:0;position:relative;">Hasta</span>
            <input id="lastDayId" style="text-align: left;padding:0;padding-top: 0.7em;" type="date" ng-model='dates.lastDay'
              ng-change="filterByDate()">
          </label>
        </div>
      </div>
      <div class=" col col-sm-1 col-md-2 col-lg-3" style="padding: 0em"></div>
    </div>
    </div>
    <div align="center" style="margin-left: 1em;" ng-if="miEmbudo">
      <div class="row" style="max-width: 50em;">
        <div class="col col-30" style="padding: 0.5em;text-align: end;font-size: 0.75em">
          NRO. PROSPECTOS
        </div>
        <div class="cssProgress col col-40" style="margin-bottom: 10px;">
          <div class="progress1">
            <div class="cssProgress-bar  cssProgress-danger" data-percent="{{(miEmbudo.prospectos/miEmbudo.prospectos)*100}}" style="width: {{(miEmbudo.prospectos/miEmbudo.prospectos)*100}}%">
              <span class="cssProgress-label"></span>
            </div>
          </div>
        </div>
        <div class="col col-20" style="padding: 0.5em; text-align: start;font-size: 0.75em;">
          {{miEmbudo.prospectos}}
        </div>
      </div>
      <div class="row" style="max-width: 50em;">
        <div class="col col-30" style="padding: 0.5em;text-align: end;font-size: 0.75em">
          NRO. PROFORMAS
        </div>
        <div class="cssProgress col col-40" style="margin-bottom: 10px;">
          <div class="progress1">
            <div class="cssProgress-bar  cssProgress-info" data-percent="{{(miEmbudo.proformas/miEmbudo.proformas)*100}}" style="width: {{(miEmbudo.proformas/miEmbudo.proformas)*100}}%">
              <span class="cssProgress-label"></span>
            </div>
          </div>
        </div>
        <div class="col col-20" style="padding: 0.5em; text-align: start;font-size: 0.75em;">
          {{miEmbudo.proformas}}
        </div>
      </div>
      <div class="row" style="max-width: 50em;">
        <div class="col col-30" style="padding: 0.5em;text-align: end;font-size: 0.75em">
          NRO. SEPARACIONES
        </div>
        <div class="cssProgress col col-40" style="margin-bottom: 10px;">
          <div class="progress1">
            <div class="cssProgress-bar  cssProgress-success" data-percent="{{(miEmbudo.separacines/miEmbudo.proformas)*100}}" style="width:{{(miEmbudo.separacines/miEmbudo.proformas)*100}}%">
              <span class="cssProgress-label"></span>
            </div>
          </div>
        </div>
        <div class="col col-20" style="padding: 0.5em; text-align: start;font-size: 0.75em;">
          {{miEmbudo.separacines}}
        </div>
      </div>
      <div class="row" style="max-width: 50em;">
        <div class="col col-30" style="padding: 0.5em;text-align: end;font-size: 0.75em">
          NRO. VENTAS
        </div>
        <div class="cssProgress col col-40" style="margin-bottom: 10px;">
          <div class="progress1">
            <div class="cssProgress-bar " data-percent="{{(miEmbudo.ventas/miEmbudo.proformas)*100}}" style="width: {{(miEmbudo.ventas/miEmbudo.proformas)*100}}%">
              <span class="cssProgress-label"></span>
            </div>
          </div>
        </div>
        <div class="col col-20" style="padding: 0.5em; text-align: start;font-size: 0.75em;">
          {{miEmbudo.ventas}}
        </div>
      </div>
    </div>
    <label for="name"></label>
  </ion-content>
</ion-view>