<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
	  <ion-nav-title>
	    <span>Vista de Proformas</span>	   
	  </ion-nav-title>
	  <ion-content>
		<div class="list">
			<!--DOCUMENTO-->
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Tipode documento:
		    </div>
		    <select ng-model='vm.client.strDoctype' class="col-75">
		      <option ng-repeat='doctype in vm.docTypes' ng-value='doctype.name'>{{doctype.name}}</option>
		    </select>
		  </label>
		  <label class="item item-input">
		    <div class="input-label">
		     Nro de documento:
		    </div>
		    <input type="text" placeholder="" ng-model='vm.client.strDocument'>
		    <button class="button button-assertive"  ng-click='vm.validateDocument()'>VALIDAR</button>
		  </label>
		  <!--NOMBRES-->
		  <label class="item item-input">
		    <div class="input-label">
		     Nombres:
		    </div>
		    <input type="text" placeholder="" ng-model='vm.client.strName'>		    
		  </label>
		  <!--APELLIDOS-->
		  <label class="item item-input">
		    <div class="input-label">
		     Aapellidos:
		    </div>
		    <input type="text" placeholder="" ng-model='vm.client.strLastname'>		    
		  </label>
		  <!--CORREO-->
		  <label class="item item-input">
		    <div class="input-label">
		     Correo electrónico:
		    </div>
		    <input type="email" placeholder="example@domain.com" ng-model='vm.client.strMail'>		    
		  </label>
		  <!--TELEFONO-->
		  <label class="item item-input">
		    <div class="input-label">
		     Teleéfono:
		    </div>
		    <input type="number" placeholder="" ng-model='vm.client.nmPhone'>		    
		  </label>
		</div>		
		<div style="padding: 1em;" ng-show="vm.client.prospects">
		
			<h3>Lista de proformas</h3>
		
			<div class="row" style="border-bottom: solid 2px #2d2d2d; margin-bottom: 1em;">
				<div class="col col-10"></div>
				<div class="col col-20"><strong>#Proforma</strong></div>
				<div class="col col-25"><strong>Programa / Producto</strong></div>
				<div class="col col-10"><strong>Grupo</strong></div>
				<div class="col col-10"><strong>Separación</strong></div>
				<div class="col col-10"><strong>%</strong></div>
				<div class="col col-10"><strong>Certificado</strong></div>
			</div>
			<div 	class="row" style="border-bottom: solid 1px #2d2d2d; margin-bottom: 1em;"
					ng-repeat='prospect in vm.client.prospects'>
				<div class="col col-10">
					<ion-checkbox ng-model="prospect.isChecked" style="border: none;padding: 1em;"></ion-checkbox>
				</div>
				<div class="col col-20">{{prospect.id}}</div>
				<div class="col col-25">{{prospect.strProgram}}</div>
				<div class="col col-10">{{prospect.strGroup}}</div>
				<div class="col col-10"></div>
				<div class="col col-10">{{prospect.nmSeparationPct}}</div>
				<div class="col col-10">{{prospect.nmConfirmations}}</div>
			</div>
		</div>
			<p></p>
		<div class="row">
			<div class="col"></div>
			<button class="button button-assertive" ui-sref="app.datosClientes">INGRESAR VENTA</button>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-view>