<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Registro de Prospecto</span>
  </ion-nav-title>
  <ion-content>

    <ul class="list">

        <div class="row header">
          <div class="col col-20" align="left"><button class="button button-energized" ui-sref="app.tiposDocumentos">DNI</button></div>
          <div class="col col-60" align="center"><input type="tel" placeholder=" Nro de Documento" style="text-align:center;text-transform:uppercase; font-size:16px;"></div>
          <div class="col col-20" align="right"><button class="button button-assertive">Buscar</button></div>
        </div>

      <label class="item item-input">
        <input type="text" placeholder="Nombres" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido Paterno" style=" text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido Materno" style="text-transform:uppercase; font-size:16px;"> 
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" style=" text-transform:uppercase; font-size:16px;"> 
      </label>
      <label class="item item-input">
        <input type="tel" placeholder="Teléfono" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input">
        <input type="tel" placeholder="Celular" style="text-transform:uppercase; font-size:16px;">
      </label>
      <label class="item item-input" >
        <input type="tel" placeholder="RUC (Opcional)" style="text-transform:uppercase; font-size:16px;">
      </label>
      <button class="button button-block button-assertive icon icon-left ion-checkmark" ui-sref="app.confirmacionCliente">
        Registar
      </button>
     
<!--</div> app.tiposDocumentos -->
    </ul>
  </ion-content>
</ion-view>
