<ion-view class="forms-view">         
        <ion-tabs class="tabs-icon-top">

            <ion-tab title="Proforma" icon="icon ion-clipboard" ng-click="irAProforma();" >
                <ion-nav-view name="proforma-tab" ></ion-nav-view>
            </ion-tab>            

            <!-- Tab 2 -->
            <ion-tab title="Prospecto" icon="icon ion-person" ui-sref="app.registroProspecto.cliente" class="{{ocultaProspecto()}}">
                <ion-nav-view name="cliente-tab" ></ion-nav-view>
            </ion-tab>
        </ion-tabs>
</ion-view>

