<ion-view>
  <ion-nav-title>
    <span>Registro de Transacción</span>
  </ion-nav-title> 
<ion-content>

  <div class="list">
    <label class="item item-input item-stacked-label" >
      <span class="input-label">ID Transacción</span>
      <input type="text" 
      maxlength="15" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
      ng-model="transacion.id" 
      placeholder="Ingrese ID Transacción" 
      ng-change="transacion.id = validacionService.formatearSoloNumeros(transacion.id)">
    </label>
    <label class="item item-input item-stacked-label " >
      <span class="input-label">Monto</span><br>
      <span class="input-label"> US${{montoPagoObligacion}}</span>
    </label>
    <label class="item item-input item-stacked-label" >
      <span class="input-label">Fecha</span>
      <input  type="date" min="{{fechaminima}}"  id="dt" ng-model='transacion.fecha' >
    </label>
  </div>
<div class="row"> 
  <div class="col text-center">
  <button class="button button-assertive icon icon-left ion-checkmark" ng-click="guardar();" style="width: 75%;">
    Guardar
  </button>  
  <p></p>
  <button class="button button-calm icon icon-left ion-ios-arrow-back" ng-click="regresar();"  style="width: 75%;">
      Regresar
  </button>

  </div>
</div>
</ion-content>
</ion-view>