<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Mensaje</span>
  </ion-nav-title>
  <ion-content>

    <div align="center" style="vertical-align: middle;">
        <br>
        <br>
        <br>
          <b class="calm padding " style="font-size:16px;text-align: center;"  align="center">{{mensajeRegistroProforma}}</b>
        <br>
      
      <div class="row"> 
        <div class="col text-center">
          <button class="button button-calm icon icon-left ion-checkmark" ui-sref="app.registroProspecto.proforma({init:true})"  style="width: 75%;">
            Nueva Proforma
          </button>
        </div>
      </div>

<!--</div> app.tiposDocumentos -->
    </div>
  </ion-content>
</ion-view>
