<!--
    |V4-HU012					 |1.0      |John Velasquez   |13-08-2019 | add 'reporteComisionService'    |
-->
<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Reporte Comisiones</span>
    </ion-nav-title>
    <ion-content>
        <form novalidate="">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label" style="font-size:14px;white-space:initial;">Año:</span>
                    <div class="col" align="right">
                        <input id="inputFacMensual"
                               type="number"
                               ng-model="formData.ano"
                               style="text-transform:uppercase; font-size:14px;text-align:right;background-color: rgb(215, 226, 234);padding-right: 0;"
                               ng-change="formatAno()">
                    </div>
                </label>
                <label class="item item-input item-select " data-tap-disabled="true">
                    <span class="input-label" style="font-size:14px;">Mes:</span>
                    <select style="text-transform:uppercase; font-size:16px;" ng-model="formData.mes"
                            ng-options="item.id as item.descripcion for item in meses">
                        <option value="" disabled>Seleccione</option>
                    </select>
                </label>
            </div>
        </form>
        <div class="row">
            <div class="col"></div>
            <button class="col button button-assertive icon-right ion-arrow-down-a" style="margin-top: 5em;" ng-click="descargar()">Descargar</button>
            <div class="col"></div>
        </div>
        <!--iframe id="pdfviewer" ng-src="{{pdfUrl}}" frameborder="0" width="100%" height="100%"></iframe-->
    </ion-content>
</ion-view>
