<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Resumen Pago</span>
  </ion-nav-title>
  <ion-content>

    <ul class="list">

      <div class="item item-divider">DATOS TITULAR</div>

      <div class = "row">
        <div class = "col col-60" >Tipo de Documento</div>
        <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >DNI</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >NRO Documento</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >42852211</span></div>
      </div>

       <div class = "row">
         <div class = "col col-60" >Nombres</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;">Jose Luis</span></div>
        </div>

      <div class = "row">
         <div class = "col col-60" >Ap. Paterno</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >Martinez</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Ap. Materno</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >Astuvilca</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Email</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >jmartinez@applying.pe</spam></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Teléfono</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >427 5247</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Celular</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >985575390</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >RUC (Opcional)</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >10428522115</span></div>
      </div>


      <div class="item item-divider">DATOS DEL BIEN</div>
      <div class = "row">
         <div class = "col col-60" >Programa-Producto</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >C1 - 4X4</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Grupo</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >6101</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Certificado (US$)</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >30000</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Nro de Asamblea</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >1</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Tipo del Bien</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >Vehículo</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60">Marca-Modelo</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >Hyundai - Santa Fe</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Nro.Formato</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >123456</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Cuota Total Mensual (US$)</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >300</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" >Cuota de Inscripción A + IGV (US$)</div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" >0.00</span></div>
      </div>
      <div class = "row">
         <div class = "col col-60" ><b>Total a Pagar (US$)</b></div>
         <div class = "col col-5"><span style="text-transform:uppercase; font-size:16px;" ><b>300.00</b></span></div>
      </div>
      
      <button class="button button-block button-assertive icon icon-left ion-checkmark" >
        Generar Obligación
      </button>
      <button class="button button-block button-calm icon icon-left ion-edit" >
        Pagar
      </button>
      
<!--</div> app.tiposDocumentos -->
    </ul>
  </ion-content>
</ion-view>
