<ion-view class="forms-view">
	<ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
  	<ion-nav-title>
	  	<span>Búsqueda</span>	   
    </ion-nav-title>
	<ion-content>		
		<div class="bar bar-header item-input-inset"> 
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Buscar por {{vm.search.filterBy.label}}" ng-model='vm.search.query' ng-change='vm.findResults()'>		    
		  </label>
		  	<button class="button button-icon icon" ng-click="vm.openProspectFilterPopover($event)">
			  	<i class="ion-android-funnel"></i>
			</button>
		</div>		
		<div style="padding: 1em;" ng-show="vm.search.results">
		
			<h3>Resultados</h3>
		
			<div class="row" style="border-bottom: solid 2px #2d2d2d; margin-bottom: 1em;">
				<div class="col col-25"><strong>Dni</strong></div>
				<div class="col col-25"><strong>Nombre</strong></div>
				<div class="col col-25"><strong>Correo electrónico</strong></div>
				<div class="col col-25"><strong>Teléfono</strong></div>
			</div>
			<div 	class="row" style="border-bottom: solid 1px #2d2d2d; margin-bottom: 1em;"
					ng-repeat='result in vm.search.results'>
				<div class="col col-25">{{result.strDocument}}</div>
				<div class="col col-25">{{result.strFirstName}} {{result.strLastname}}</div>
				<div class="col col-25">{{result.strMail}}</div>
				<div class="col col-25">{{result.nmPhone}}</div>
			</div>
			<p></p>
			<div class="row">
				<div class="col"></div>
				<button class="button button-assertive">NUEVO</button>			
			</div>
		</div>		
	</ion-content>
	<!--POPOVERS-->
	<script id="prospect-filters-popover.html" type="text/ng-template">
	  <ion-popover-view>
	    <ion-header-bar>
	      <h1 class="title">Filtrar por</h1>
	    </ion-header-bar>
	    <ion-content>
	      <div class="list">
	            <a class="item" ng-repeat='filter in vm.search.filters' ng-click='vm.changeFilter(filter)'>
	              	{{filter.label}}
	            </a>
	          </div>
	    </ion-content>
	  </ion-popover-view>
	</script>
</ion-view>