<!--
<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Búsqueda</span>
    </ion-nav-title>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar por {{vm.search.filterBy.label}}" ng-model='vm.search.query' ng-change='vm.findResults()'>
            </label>
            <button class="button button-icon icon" ng-click="vm.openProspectFilterPopover($event)">
                <i class="ion-android-funnel"></i>
            </button>
        </div>
        <div ng-show="true||vm.search.results">
            <div class="list">
                <a ng-repeat="result in vm.search.results" class="item item-avatar">
                    <img src="{{result.strImageUrl}}">
                    <h3>{{result.strFirstName}} {{result.strLastname}}</h3>
                    <p>{{result.strDocument}}</p>
                    <div class="row" style="padding: 0px">
                        <p class="col-75"><small>{{result.strMail}}</small></p>
                        <p class="col-25"><small>{{result.nmPhone}}</small></p>
                    </div>

                </a>
            </div>
        </div>
    </ion-content>
    &lt;!&ndash;POPOVERS&ndash;&gt;
    <script id="prospect-filters-popover.html" type="text/ng-template">
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">Filtrar por</h1>
            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <a class="item" ng-repeat='filter in vm.search.filters' ng-click='vm.changeFilter(filter)'>
                        {{filter.label}}
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>-->
