<ion-view class="forms-view">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-title>
		<span>Reportes del EDV</span>
	</ion-nav-title>
	<ion-content>
		<div class="row">
			<div class="col col-12">
				<p>
					Ingrese el rango de fechas de las proformas ,prospectos y seguimientos que desea incluir en el reporte.
				</p>
			</div>
		</div>	
		<label class="item item-input" ng-repeat="input in inputsFiltro">
			<span class="input-label" style="font-size:14px;white-space:initial;">{{input.label}}:</span>
			<input class = "col-75" type="{{input.tipo}}" ng-model="input.valor" placeholder="{{input.placeholder}}" max="{{input.valorMaximo | date:'yyyy-MM-dd'}}" ng-change="input.eventoCambio()" style="text-align:right;">
		</label>
		<div class="row"> 
			<div class="col text-center">
				<button id="buttonGrabar" class="button button-assertive icon icon-right ion-android-send"  ng-click="enviar();"  style="width:75%;">
				Generar y Enviar
				</button>
			</div>
		</div>		
	</ion-content>
</ion-view>