<ion-view class="forms-view">
	<ion-nav-bar class="bar app-top-bar bar-header">
		<ion-nav-back-button class="button-icon ion-android-arrow-back">
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-title>
		<span>Seguimiento de Prospecto</span>
	</ion-nav-title>
	<ion-content>
		<!--ADD-->
		<div class="list">
			<a class="item item-avatar">
				<img src="https://tracker.moodle.org/secure/useravatar?size=xsmall&avatarId=17385">
				<h3>{{vm.client.nombres}} {{vm.client.apellidoPaterno}} {{vm.client.apellidoMaterno}} {{vm.client.personaRazonSocial}}</h3>
				<p style="text-transform: uppercase">{{vm.client.numeroDocumento}}</p>
			</a>
			<div class="item item-divider">
				Historial
			</div>
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Buscar en el historial" ng-model="query">
			</label>
			<a class="item item-icon-left" ng-repeat="item in vm.history | filter:query" ng-click="getSeguimiento(item.seguimientoID)">
				<i class="icon ion-android-call" ng-show="item.tipoSeguimientoID==0"></i>
				<i class="icon ion-android-mail" ng-show="item.tipoSeguimientoID==1"></i>				
				<i class="icon ion-ios-people" ng-show="item.tipoSeguimientoID==2"></i>
				<h3 ng-if="item.proforma">{{item.proforma.strProgram}}
				</h3>
				<h3 ng-if="!item.proforma">Sin proforma asociada
				</h3>
				<p>{{item.detail}}</p>
				<div class="row col-100" style="padding: 0px;left: -4em;">
					<p class="col-50" ng-show="item.tipoSeguimientoID==1">
						{{item.asuntoCorreo}}
					</p>
					<p class="col-50"></p>
				</div>
				<div class="row col-100" style="padding: 0px;left: -4em;">
					<p class="col-50">
						{{item.fechaCita}}
					</p>
					<p class="col-10">
						
					</p>
					<p class="col-40" style="text-align: right;">
						<span ng-style="item.concretado && item.estado==1 && {'color':'#33cd5f'} || {'color':'#FF5722'}" >{{item.concretado}}</span>
					</p>
				</div>
				
				<span style="position: absolute !important;
							top: 15px !important;
							right: 50px !important;
							height: 1em;
							">
						<i class="icon ion-checkmark" style="color:green;font-size: 1em;" ng-show="item.state==1"></i>
						<i class="icon ion-alert-circled" style="color:orange;font-size: 1em;" ng-show="item.state==2"></i>
				</span>
			</a>
		</div>
	</ion-content>
	<button class="button button- button-assertive icon ion-plus-round" style="z-index: 12 !important;
              position: absolute !important;
              bottom: 10px !important;
              right: 10px !important;
              border-radius: 50% !important;
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;" ng-click="vm.openRegistryOptionsPopover($event)">
    </button>
	<!--POPOVERS-->
	<script id="registry-options-popover.html" type="text/ng-template">
		<ion-popover-view>
			<ion-header-bar>
				<h1 class="title">Agregar tarea</h1>
			</ion-header-bar>
			<ion-content>
				<div class="list">
					<a class="item" ng-repeat="option in vm.registryOptions" ng-click='vm.openNewRegistryModal(option,false)'>
                        {{option.label}}
                    </a>
				</div>
			</ion-content>
		</ion-popover-view>
	</script>

	<script id="new-registry-modal.html" type="text/ng-template">
		<ion-modal-view>
			<ion-header-bar class="bar bar-header bar-stable">
				<h1 class="title">{{vm.newRegistry.channel}}</h1>
			</ion-header-bar>
			<ion-content class="scroll-content ionic-scroll  has-header has-footer">
				<div class="list">

					<!--Show Only in Meeting Case-->
					<div ng-if="vm.newRegistry.option.name=='meeting'">

						<label class="item item-input">
							<i class="ion-calendar custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Fecha programada</span> 
					        <input type="date" placeholder="fecha" ng-model='vm.newRegistry.cita.fechaDate' style="margin-left: 15%;" input-disabled="isEdition">
						</label>

						<label class="item item-input">
							<i class="ion-clock custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Hora programada</span> 
					        <input type="time" placeholder="hh:mm" ng-model='vm.newRegistry.cita.hora' style="margin-left: 20%;" input-disabled="isEdition">
					    </label>
						<label class="item item-input item-stacked-label">
							<i class="ion-navigate custom-icon" style="font-size: 20px;"></i>
							<span>Lugar</span>
							<input type="text" ng-model='vm.newRegistry.cita.lugarCita' input-disabled="isEdition">
						</label>

						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-ios-location custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Departamento</span> 
							<select  style="text-transform:uppercase; font-size:14px;" ng-model="vm.newRegistry.cita.departamentoID" 
				                 ng-change="
				                 vm.newRegistry.cita.provinciaID = undefined;
                            	 vm.newRegistry.cita.distritoID = undefined;
				                 cambiarDepartamento(vm.newRegistry.cita.departamentoID, true);" input-disabled="isEdition">
				          		<option value="{{item.codigo}}" ng-repeat="item in lstDepartamento">{{item.descripcion}}</option>
				          		<option value="" disabled>Seleccione</option>
				        	</select>
						</label>

						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-ios-location custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Provincia</span> 
							<select  style="text-transform:uppercase; font-size:14px;" ng-model="vm.newRegistry.cita.provinciaID" 
					                 ng-change="
					                 vm.newRegistry.cita.distritoID = undefined;
					                 cambiarProvincia(vm.newRegistry.cita.departamentoID,vm.newRegistry.cita.provinciaID);" input-disabled="isEdition">
					           <option value="{{item.codigo}}" ng-repeat="item in lstProvincia">{{item.descripcion}}</option>
					           <option value="" disabled>Seleccione</option>
					        </select>
						</label>

						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-ios-location custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Distrito</span> 
							<select  style="text-transform:uppercase; font-size:14px;" ng-model="vm.newRegistry.cita.distritoID" input-disabled="isEdition">
							   <option value="" disabled>Seleccione</option>
					           <option value="{{item.codigo}}" ng-repeat="item in lstDistrito">{{item.descripcion}}</option>
					        </select>
						</label>

						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-clipboard custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Proforma (opc)</span> 
							<select  style="text-transform:uppercase; font-size:14px;" ng-model="vm.newRegistry.cita.vtaProforma.proformaID" input-disabled="isEdition">
					           <option value="{{item.value}}" ng-repeat="item in lstProformas">{{item.view}}</option>
					           <option value="" >Seleccione</option>
					        </select>
						</label>

						<li class="item item-toggle">			
							Cita concretada?	
							<label  class="toggle toggle-assertive">
								<input type="checkbox" ng-model='vm.newRegistry.cita.estado' ng-true-value="1" ng-false-value="0">
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</li>

					</div>							
					<!--Show Only in Call Case-->			
					<div ng-if="vm.newRegistry.option.name=='call'">
						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-ios-telephone custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Teléfono</span> 
							<select  ng-model="vm.newRegistry.llamada.telefono" input-disabled="isEdition">
							   <option value="" disabled>Seleccione</option>
					           <option value="{{item.value}}" ng-repeat="item in lstTelefonos">{{item.view}}</option>
					        </select>
						</label>
						<!--label class="item item-input">
							<i class="ion-calendar custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Fecha</span> 
					        <input type="date" placeholder="fecha" ng-model='vm.newRegistry.llamada.fechaDate' style="margin-left: 25%;" input-disabled="isEdition">
						</label>

						<label class="item item-input">
							<i class="ion-clock custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Hora</span> 
					        <input type="time" placeholder="hh:mm" ng-model='vm.newRegistry.llamada.hora' style="margin-left: 35%;" input-disabled="isEdition">
						</label-->

						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-clipboard custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Proforma (opc)</span> 
							<select  style="text-transform:uppercase; font-size:14px;" ng-model="vm.newRegistry.llamada.vtaProforma.proformaID" input-disabled="isEdition">
					           <option value="{{item.value}}" ng-repeat="item in lstProformas">{{item.view}}</option>
					           <option value="" >Seleccione</option>
					        </select>
						</label>

						
					</div>							
					<!--Show Only in Mail Case-->			
					<div ng-if="vm.newRegistry.option.name=='mail'">
						<label class="item item-input" data-tap-disabled="true" >
							<i class="ion-ios-email custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >E-mail</span> 
					        <input type="text" ng-model='vm.newRegistry.correo.correo' input-disabled="isEdition" style="text-transform: uppercase">
						</label>

						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-ios-email custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Plantilla</span> 
							<select  ng-model="vm.newRegistry.correo.plantillaId" ng-change="vm.cambioDePlantilla()" input-disabled="isEdition" style="text-transform:uppercase;font-size: 12px;">
							   <option value="" disabled>Seleccione</option>
					           <option value="{{item.llave}}" ng-repeat="item in lstPlantillas">{{item.llaveView}}</option>
					        </select>
						</label>

						<label class="item item-input">
							<i class="ion-email-unread custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >{{vm.plantillaActual.platillaLabelInputAsunto||'Asunto'}}</span> 
					        <input type="text"  ng-model='vm.newRegistry.correo.asuntoCorreo' input-disabled="isEdition&&vm.asuntoEditable" style="text-transform: uppercase">
						</label>

						<label class="itemitem item-input item-input" ng-show="vm.mostrarFechaPago">
							<i class="ion-calendar custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >{{vm.plantillaActual.plantillaLabelInputFechaDePago||'Fecha de pago'}}</span> 
					        <input type="date"  ng-model='vm.newRegistry.correo.fechaDePago'>
						</label>						

						<label class="item item-input item-select" data-tap-disabled="true" >
							<i class="ion-clipboard custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >{{vm.plantillaActual.platillaLabelInputProforma||'Proforma'}}</span> 
							<select  style="text-transform:uppercase; font-size:14px;" ng-model="vm.newRegistry.correo.vtaProforma.proformaID" input-disabled="isEdition">
					           <option value="{{item.value}}" ng-repeat="item in lstProformas">{{item.view}}</option>
					           <option value="" selected="true">Seleccione</option>
					        </select>
						</label>
						<label class="item item-input item-stacked-label" ng-show="vm.mostrarMensajeAdicional">
							<i class="ion-email-unread custom-icon" style="font-size: 20px;"></i>
							<span>{{vm.plantillaActual.platillaLabelInputMensajeAdicional||'Mensaje Adicional'}}</span>
							<textarea rows="4" cols="50" input-disabled="isEdition" ng-model='vm.newRegistry.correo.mensajeCorreo'>
							</textarea>
						</label>
						<div class="item item-input"  ng-show="vm.mostrarArchivosAdjuntos" style="border-bottom: none;">
							<i class="ion-document custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >{{vm.plantillaActual.plantillaLabelInputArchivosAdjuntos||'Archivos adjuntos'}}</span> 
						</div>
						<div class="padding" ng-show="vm.mostrarArchivosAdjuntos">														
							<div>																
								<div class="item item-text-wrap item-button-right" ng-repeat="archivo in vm.newRegistry.correo.archivosAdjuntosBase64">
									{{archivo.nombre}}
									<button class="button button-icon" ng-click="vm.removerArchivo($index)">
										<i style="color:red" class="icon ion-android-cancel"></i>                                    
									</button>
								</div>																	
								<button class="button icon-right ion-plus-circled button-full button-assertive" ng-click="vm.agregarArchivo()">Agregar archivo</button>
							</div>
						</div>
					</div>
				</div>
			</ion-content>
			<ion-footer-bar class="bar bar-footer bar-stable" style="font-size: 20px;">
				<button class="button button-stable modal-select-close-button" ng-click="vm.cancelRegistry();">Cancelar</button>
				<button class="button button-stable" ng-click="vm.saveRegistry('vistaPrevia',vm.newRegistry.correo.vtaProforma.proformaID);">{{vm.tituloBoton}}</button>
			</ion-footer-bar>
		</ion-modal-view>
	</script>

	<script id="mail-preview.html" type="text/ng-template">
		<ion-modal-view>
			<ion-header-bar class="bar bar-header bar-stable">
				<h1 class="title">Vista Previa</h1>
			</ion-header-bar>
			<ion-content class="scroll-content ionic-scroll  has-header has-footer">
				<div class="list">							
					<!--Show Only in Call Case-->			
					<div>
						<label class="item item-input">
							<i class="ion-email-unread custom-icon" style="font-size: 20px;"></i>
							<span class="input-label" >Asunto</span> 
							<input type="text"  ng-model='vm.newRegistry.correo.asuntoCorreo' disabled>
						</label>						
						<label class="item item-input item-stacked-label">
							<i class="ion-email-unread custom-icon" style="font-size: 20px;"></i>
							<span>Contenido</span>
							<ion-scroll direction="x" style="overflow: scroll;">
								<div class="col col-100">
									<div ng-bind-html="mailPreviewContent" class="col col-100" style="font-size: 20px;"></div>
								</div>
							</ion-scroll>
						</label>						
					</div>				
				</div>
			</ion-content>
			<ion-footer-bar class="bar bar-footer bar-stable" style="font-size: 20px;">
				<button class="button button-stable modal-select-close-button" ng-click="vm.cancelMailPreview();">Cancelar</button>
				<button class="button button-stable" ng-click="vm.saveRegistry();">Enviar Correo</button>
			</ion-footer-bar>
		</ion-modal-view>
	</script>
</ion-view>
