<!--
 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |JIRAV3-005				   |1.0.2    |John Velasquez   |26.11.2018 | mostrar opcion 'MIS PROSPECTOS' a ROL Gerente|
 |V4-HU010					   |1.1.0    |John Velasquez   |30.07.2019 | mostrar opcione de recordatorio de pago de CIA |
 |V4-HU011                     |1.0.0    |John Velasquez |16/08/2019 | mostrar opción |
 |V4-HU012                     |1.1.0    |John velasquez   |13/08/2019 | agregar opción Mis reportes->[Reporte del EDV, Comisiones] |  
 |V4-HU016                     |1.1.0    |John velasquez   |25/07/2019 | agregar opción Mis reportes->[Reporte del EDV, Estadístico Remates] |
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <!--ion-nav-back-button>
      </ion-nav-back-button-->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list id=sidenav>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" src="data:image/png;base64,{{me.imagenUsuario}}" style="height: 100%;" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting"> {{me.personaNombre}},</h2>
          <p class="message">{{me.personaApellidoPaterno}}</p>
          <p class="message">{{me.personaApellidoMaterno}}</p>
        </ion-item>
          <!-- inicio @issue JIRAV3-005 -->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.registroProspecto.proforma({'init':'0'})" ui-sref-opts="{reload: true}" ng-if="showNuevaProforma()">
          <i class="icon ion-document"></i>
          <h2 class="menu-text">Nueva Proforma</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.consultaCliente" ng-if="showMisProspectos()">
          <i class="icon ion-person"></i>
          <h2 class="menu-text">Mis Prospectos</h2>
        </ion-item>
          <!-- fin @issue JIRAV3-005 -->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.misSeparaciones" ng-if="showOption()">
          <i class="icon ion-clipboard"></i>
          <h2 class="menu-text">Mis Separaciones</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.obligacionesPorPagar" ng-if="showOption()">
          <i class="icon ion-clipboard"></i>
          <h2 class="menu-text">Obligaciones Por Pagar</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.pagoCia({new: true})" ng-if="showOption()">
          <i class="icon ion-clipboard"></i>
          <h2 class="menu-text">Pago CIA</h2>
        </ion-item>
        <!--Notificación pago inicio @feature V4-HU010-->
        <ion-item class="item-icon-left" nav-clear ui-sref ng-click="toggleShowNotificacionPago()" ng-if="showOption()">
          <i class="icon ion-ios-list-outline"></i>
          <h2 class="menu-text">Recordatorio Pago</h2>
        </ion-item>
        <ion-item class="item-icon-left submenu-item" nav-clear menu-close style="background-color: #161616;" ng-click="go('app.notificacionPagoCia')" ng-show="showNotificacionPagoCia()">
          <i class="icon ion-person" style="left: 1em;"></i>
          <h2 style="margin-left: 1em;" class="menu-text">CIA</h2>
        </ion-item>
        <!--Notificación pago fin @feature V4-HU010-->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.misVentas" ng-if="showOption()">
          <i class="icon ion-social-usd"></i>
          <h2 class="menu-text">Mis Ventas</h2>
        </ion-item>
        <!-- inicio @feature V4-HU016 - V4-HU012-->
        <!--ion-item class="item-icon-left" nav-clear menu-close  ui-sref="app.seguimientoEdv" ng-if="showOption()"-->
        <ion-item class="item-icon-left" nav-clear ui-sref ng-click="toggleShowReportes()" ng-if="showOptionMisReportes()">
        <!-- fin @feature V4-HU016 - V4-HU012-->
          <i class="icon ion-ios-list-outline"></i>
          <h2 class="menu-text">Mis Reportes</h2>
        </ion-item>
        <ion-item class="item-icon-left submenu-item" nav-clear menu-close style="background-color: #161616;" ng-click="go('app.seguimientoEdv')" ng-show="showReporteSeguimientoEDV()">
          <i class="icon ion-person" style="left: 1em;"></i>
          <h2 style="margin-left: 1em;" class="menu-text">Reporte del EDV</h2>
        </ion-item>
        <!-- inicio @feature V4-HU016-->
        <ion-item class="item-icon-left submenu-item" nav-clear menu-close style="background-color: #161616;" ng-click="go('app.estadisticasRemates')" ng-show="showReporteEstadisticoRemates()">
            <i class="icon ion-stats-bars" style="left: 1em;"></i>
            <h2 style="margin-left: 1em;" class="menu-text">Estadístico Remates</h2>
        </ion-item>
        <!-- fin @feature V4-HU016-->
        <!-- inicio @feature V4-HU012-->
         <ion-item class="item-icon-left submenu-item" nav-clear menu-close style="background-color: #161616;" ng-click="go('app.reportecomisiones')" ng-show="showReporteComisiones()">
             <i class="icon ion-document" style="left: 1em;"></i>
             <h2 style="margin-left: 1em;" class="menu-text">Comisiones</h2>
         </ion-item>
        <!-- fin @feature V4-HU012-->
        <!-- inicio @feature V4-HU011 -->
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.simuladorPremiosComisiones" ng-if="showOptionSimuladorPyC()">
              <i class="icon ion-social-usd"></i>
            <h2 class="menu-text" style="white-space: break-spaces;">Simulador premios y comisiones</h2>
        </ion-item>
        <!-- fin @feature V4-HU011 -->
        
        <!-- inicio @feature V4-HU030 -->
        <ion-item class="item-icon-left" nav-clear menu-close  ui-sref="app.viajeNuevoVendedorSup"  ng-if="showOptionViajeNuevoVendedorSup()">
          <i class="icon ion-map"></i>
          <h2 class="menu-text" style="white-space: break-spaces;">Viaje del Nuevo Vendedor</h2>
        </ion-item>
        <ion-item class="item-icon-left" ui-sref nav-clear ng-click="toggleShowViajeNuevoVendedorEdvOptions()" ng-if="showOptionViajeNuevoVendedorEdv()">
          <i class="icon ion-map"></i>
          <h2 class="menu-text" style="white-space: break-spaces;">Viaje del Nuevo Vendedor</h2>
        </ion-item>
        <ion-item class="item-icon-left submenu-item item" nav-clear="" menu-close="" style="background-color: #161616;"  ng-click="go('app.viajeNuevoVendedorDetalleVendedor')"  ng-if="showOptionVieneNuevoVendedorDetalleVendedor()">
          <i class="icon ion-calendar" style="left: 1em;"></i>
          <h2 class="menu-text" style="background-color: #161616;white-space: break-spaces;margin-left: 1em;">Semanas</h2>
        </ion-item>
        <ion-item class="item-icon-left submenu-item item" nav-clear="" menu-close="" style="background-color: #161616;"  ng-click="go('app.viajeNuevoVendedorPasaporte')"  ng-if="showOptionVieneNuevoVendedorPasaporte()">
          <i class="icon ion-flag" style="left: 1em;"></i>
          <h2 class="menu-text" style="background-color: #161616;white-space: break-spaces;margin-left: 1em;">Pasaporte</h2>
        </ion-item>
        <!-- fin @feature V4-HU030 -->
        
        <ion-item class="item-icon-left" nav-clear ui-sref=""  ng-click="toggleShowIncidencias()" ng-show="showOptionIncidencia()">
          <i class="icon ion-social-buffer"></i>
          <h2 class="menu-text">Incidencias</h2>
        </ion-item>
        <ion-item class="item-icon-left submenu-item" nav-clear menu-close style="background-color: #161616;" ng-click="go('app.nuevaIncidencia')" ng-show="showNuevaIncidencia()">
          <i class="icon ion-plus-circled" style="left: 1em;"></i>
          <h2 style="margin-left: 1em;" class="menu-text">Nueva Incidencia</h2>
        </ion-item>
        <ion-item class="item-icon-left submenu-item" nav-clear menu-close style="background-color: #161616;" ng-click="go('app.misIncidencias')" ng-show="showMisIncidencias()">
          <i class="icon ion-pricetags" style="left: 1em;"></i>
          <h2 style="margin-left: 1em;" class="menu-text">Reporte de Incidencias</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="sesionOut()">
          <i class="icon ion-log-out"></i>
          <h2 class="menu-text">Cerrar Sesión</h2>
        </ion-item>
        <!--<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">Settings</h2>
        </ion-item>-->

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
