<!--
 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |V4-HU011                     |1.0.0      |John Velasquez |16/08/2019 | creación |  
-->
<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Simulador de Premios y Comisiones</span>
    </ion-nav-title>
    <ion-content>
        <form novalidate>
            <label class="item item-input">
                <span class="input-label col" style="font-size:14px;white-space:initial;" >Importe cuota:</span>
                <div class = "col" align="right">
                    <input name="inputApMaterno"
                           min="0"
                           autofocus
                           type="number"  
                           ng-model="formData.cuota"
                           
                           ng-change="updateUrl()"
                           style="text-transform:uppercase; font-size:14px;text-align:right;background-color: rgb(215, 226, 234);padding-right: 0;"
                           >
                </div>
            </label>
            <label class="item item-input">
                <span class="input-label col" style="font-size:14px;white-space:initial;" >Importe certificados vendidos:</span>
                <div class = "col" align="right">
                    <input name="inputApMaterno"
                           min="0"
                           type="number"
                           ng-model="formData.certificadosVendidos"
                           ng-change="updateUrl()"
                           style="text-transform:uppercase; font-size:14px;text-align:right;background-color: rgb(215, 226, 234);padding-right: 0;" >
                </div>
            </label>
        </form>
        <div class="row" style="margin-top: 1em">
            <div class="col"></div>
            <button class="button button-assertive" ng-click="obtenerReporte()">Generar</button>
            <div class="col"></div>
        </div>
    </ion-content>
</ion-view>
