<!--
 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |V4-HU011                     |1.0.0      |John Velasquez |16/08/2019 | creación |  
-->
<ion-view>
    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Simulación de Premios y Comisiones</span>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item class="row" style="padding: 0.5em" ng-if="simulacion.valorCertificadosVendidos">
                <span class="col-60">{{simulacion.valorCertificadosVendidos.descripcion}}:</span>
                <span class="col-40" style="text-align: right;">{{simulacion.valorCertificadosVendidos.valor | number:2}}</span>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em" ng-if="simulacion.cuota">
                <span class="col-60">{{simulacion.cuota.descripcion}}:</span>
                <span class="col-40" style="text-align: right;">{{simulacion.cuota.valor | number:2}}</span>
            </ion-item>
            <ion-item class="item-divider" style="padding: 0.5em"
                      ng-if="simulacion.ciaTeorico">
                <b>CIA</b>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em;" ng-if="simulacion.ciaTeorico">
                <span class="col-60">{{simulacion.ciaTeorico.descripcion}}:</span>
                <span class="col-40" style="text-align: right;">{{simulacion.ciaTeorico.valor | number:2}}</span>
            </ion-item>
            <!-- COMISION -->
            <ion-item class="item-divider" style="padding: 0.5em"
                      ng-if="simulacion.comision||(simulacion.comisionDetalle && simulacion.comisionDetalle.length > 0)">
                <b>Comisión</b>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em;" ng-if="simulacion.comision">
                <span class="col-60"><b>{{simulacion.comision.descripcion}}:</b></span>
                <span class="col-40" style="text-align: right;"><b>{{simulacion.comision.valor | number:2}}</b></span>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em" ng-repeat="detalle in simulacion.comisionDetalle"
                      ng-if="simulacion.comisionDetalle">
                <span class="col-60">{{detalle.descripcion}}:</span>
                <span class="col-40" style="text-align: right;">{{detalle.valor | number:2}}</span>
            </ion-item>
            <!-- PREMIO -->
            <ion-item class="item-divider" style="padding: 0.5em"
                      ng-if="simulacion.premio||(simulacion.premioDetalle && simulacion.premioDetalle.length > 0)">
                <b>Premios</b>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em;" ng-if="simulacion.premio">
                <span class="col-60"><b>{{simulacion.premio.descripcion}}:</b></span>
                <span class="col-40" style="text-align: right;"><b>{{simulacion.premio.valor | number:2}}</b></span>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em" ng-repeat="detalle in simulacion.premioDetalle"
                      ng-if="simulacion.premioDetalle">
                <span class="col-60">{{detalle.descripcion}}:</span>
                <span class="col-40" style="text-align: right;">{{detalle.valor | number:2}}</span>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em;" ng-if="simulacion.premioExceso">
                <span class="col-60"><b>{{simulacion.premioExceso.descripcion}}:</b></span>
                <span class="col-40" style="text-align: right;"><b>{{simulacion.premioExceso.valor | number:2}}</b></span>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em" ng-repeat="detalle in simulacion.premioExcesoDetalle"
                      ng-if="simulacion.premioExcesoDetalle">
                <span class="col-60">{{detalle.descripcion}}:</span>
                <span class="col-40" style="text-align: right;">{{detalle.valor | number:2}}</span>
            </ion-item>
            <!-- PREMIO CIA -->
            <ion-item class="item-divider" style="padding: 0.5em"
                      ng-if="simulacion.premioCia||(simulacion.premioCiaDetalle && simulacion.premioCiaDetalle.length > 0 )">
                Premio x CIA
            </ion-item>
            <ion-item class="row" style="padding: 0.5em;" ng-if="simulacion.premioCia">
                <span class="col-60"><b>{{simulacion.premioCia.descripcion}}:</b></span>
                <span class="col-40" style="text-align: right;"><b>{{simulacion.premioCia.valor | number:2}}</b></span>
            </ion-item>
            <ion-item class="row" style="padding: 0.5em" ng-repeat="detalle in simulacion.premioCiaDetalle"
                      ng-if="simulacion.premioCiaDetalle">
                <span class="col-60">{{detalle.descripcion}}:</span>
                <span class="col-40" style="text-align: right;">{{detalle.valor | number:2}}</span>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
