<!--

 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |JIRAV3-007                   |1.0.5    |John Velasquez   |28/11/2018 | agregar información de cuotas devengada en la generación de la proforma y autocompletar esta información al ingresar venta |
 |--------------------------------------------------------------------------------------------------------|

-->

<ion-view title="Proforma">
  <ion-nav-title>
    <span>Registro de Proforma </span>
  </ion-nav-title>
  <ion-content>

    <ul class="list" style="font-size:14px;">
      <label class = "item item-input row">
        <div class="col-10">
        <button class="button button-calm icon ion-home" modal-select="" ng-model="tempProforma.proforma.perPuntoExhibicion" 
        options="puntosDeVentas" has-search="true" modal-title="Puntos de Venta" cancel-button="Cancelar" 
        hide-reset="true" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="Buscar" cancel-search-button="Limpiar">          
          <div class="option">
              <span style="font-size: 12px; overflow:hidden;"> {{option.descripcion}} </span>
          </div>
        </button>              
        </div>          
        <div class="col-10"></div>
        <div class="col-80" style="overflow: hidden;">
        <span class="input-label col" style="margin-left:10px;" > {{tempProforma.proforma.perPuntoExhibicion?tempProforma.proforma.perPuntoExhibicion.descripcion:'Escoja un punto de venta'}}</span>
        </div>
      </label>
      <label class="item item-input" data-tap-disabled="true" ng-if="lstTipoBien.length==1">
        <i class="icon ion-ios-gear custom-icon"></i>
        <span class="input-label" >Tipo de Bien</span>
        <span>{{mapSmvBienesServicios[lstTipoBien[0].codigo].descripcion}}</span>
      </label>
      <label class="item item-input item-select" data-tap-disabled="true" ng-if="lstTipoBien.length>1">
        <i class="icon ion-ios-gear custom-icon"></i>
        <span class="input-label" >Tipo de Bien</span> 
        <select  ng-disabled="modoEdicion"  ng-model="tempProforma.proforma.tipoBienID" ng-change="cambiarTipoBien()">
           <option value="" disabled>Seleccione</option>
           <option value="{{item.codigo}}" ng-repeat="item in lstTipoBien">{{item.descripcion}}</option>
        </select>
      </label>

      <label class="item item-input item-select" data-tap-disabled="true" ng-show="tempProforma.proforma.tipoBienID==TIPO_BIEN.VEHICULO">
        <i class="icon ion-ios-pricetag custom-icon"></i>
        <span class="input-label" >Marca</span>
        <select ng-disabled="modoEdicion"  ng-model="tempProforma.proforma.marcaID" ng-change="cambiarMarca()">
           <option value="" disabled>Seleccione</option>
           <option value="{{item.marcaID}}" ng-repeat="item in lstMarca">{{item.marcaNombre}}</option>
        </select>
      </label>

      <label class="item item-input item-select" data-tap-disabled="true" ng-if="tempProforma.proforma.tipoBienID">
        <i class="icon ion-model-s custom-icon" ng-show="tempProforma.proforma.tipoBienID==TIPO_BIEN.VEHICULO"></i>
        <i class="icon ion-ios-home custom-icon" ng-show="tempProforma.proforma.tipoBienID==TIPO_BIEN.INMUEBLE"></i>
        
        <span class="input-label" ng-show="tempProforma.proforma.tipoBienID==TIPO_BIEN.VEHICULO">Modelo</span>
        <span class="input-label" ng-show="tempProforma.proforma.tipoBienID==TIPO_BIEN.INMUEBLE">Inversión Inmobiliaria</span>
        <select ng-disabled="modoEdicion"  ng-model="tempProforma.proforma.articuloID" ng-change="cambiarModelo()">
           <option value="" disabled>Seleccione</option>
           <option value="{{item.articuloID}}" ng-repeat="item in lstModelo">{{item.articuloNombre}}</option>
        </select>
      </label>

      <label class="item item-input item-select" data-tap-disabled="true">
        <i class="icon ion-android-list custom-icon"></i>
        <span class="input-label" >Programa - Producto</span>
        <select ng-disabled="modoEdicion" ng-model="tempProforma.proforma.productoID" ng-change="cambiarPrograma();">
             <option value="" disabled>Seleccione</option>
            <option value="{{item.productoID}}" ng-repeat="item in lstProgramaProducto">{{item.productoNombre}}</option>
        </select>
      </label>
      <label class="item item-input item-select" data-tap-disabled="true">
        <i class="icon ion-person-stalker custom-icon"></i>
        <span class="input-label" >Grupo</span>        
        <select ng-disabled="modoEdicion" ng-model="tempProforma.proforma.grupoID" ng-change="cambiarGrupo($index);">
          <option value="" disabled>Seleccione</option>
          <option value="{{item.grupoID}}" ng-repeat="item in lstGrupo">{{item.grupoNumero}}</option>
        </select>
      </label>
      <div class="item item-divider assertive">Datos del Grupo</div>

      <div class = "row">
         <div class = "col col-75">
          Nro de Vacantes
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">{{tempProforma.proforma.numeroVacantes}}</span>
         </div>
      </div>

      <div class = "row">
         <div class = "col col-75">
          Nro de Cuotas
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">{{tempProforma.proforma.duracionPrograma}}</span>
         </div>
      </div>
      <div class = "row">
         <div class = "col col-75">
          Cuota de Ingreso
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">{{tempProforma.proforma.cuotaIngreso}}</span>
         </div>
      </div>
        <!-- inicio @issue JIRAV3-007  -->
        <div ng-show="tempProforma.proforma.cuotaIngreso > 1">
            <div class="item item-divider assertive">Información de Cuotas Devengadas</div>
            <div class="row" ng-show="tempProforma.proforma.cuotaIngreso > 1">
                <div class="col">
                    <label style="padding-left: 5px;" class="item item-input item-floating-label">
                        <span style="font-size: 13px;" class="input-label">Ingreso de Venta:</span>
                        <input type="number"  placeholder="Ing. de Vent"
                               ng-model="tempProforma.proforma.cuotasIngresoVenta"
                               ng-click="tempProforma.proforma.cuotasIngresoVenta = devengadoOnClick(tempProforma.proforma.cuotasIngresoVenta)"
                               ng-blur="tempProforma.proforma.cuotasIngresoVenta = devengadoOnBlur(tempProforma.proforma.cuotasIngresoVenta)"
                               ng-change="evaluarCuotasDevengadas(0)">
                    </label>
                </div>
                <div class="col">
                    <label style="padding-left: 5px;" class="item item-input item-floating-label">
                        <span style="font-size: 13px;" class="input-label">Adjudicación:</span>
                        <input  type="number"  placeholder="Adjudicación"
                                ng-model="tempProforma.proforma.cuotasAdjudicacion"
                                ng-click="tempProforma.proforma.cuotasAdjudicacion = devengadoOnClick(tempProforma.proforma.cuotasAdjudicacion)"
                                ng-blur="tempProforma.proforma.cuotasAdjudicacion = devengadoOnBlur(tempProforma.proforma.cuotasAdjudicacion)"
                                ng-change="evaluarCuotasDevengadas(1)">
                    </label>
                </div>
                <div class="col">
                    <label style="padding-left: 5px;"  ng-style="{'background-color':(noProrratear?'#ccc':'#fff')}" class="item item-input item-floating-label">
                        <span style="font-size: 13px;" class="input-label">Prorrateo:</span>
                        <input type="number"  placeholder="Prorrateo"
                               ng-model="tempProforma.proforma.cuotasProrrateo"
                               ng-click="tempProforma.proforma.cuotasProrrateo = devengadoOnClick(tempProforma.proforma.cuotasProrrateo)"
                               ng-blur="tempProforma.proforma.cuotasProrrateo = devengadoOnBlur(tempProforma.proforma.cuotasProrrateo)"
                               ng-change="evaluarCuotasDevengadas(2)"
                               ng-disabled="noProrratear"
                               ng-style="{'background-color':(noProrratear?'#ccc':'#fff')}">
                    </label>
                </div>
            </div>
            <div class="row" ng-show="tempProforma.proforma.cuotaIngreso > 1">
                <div class = "col" >
                    Cuota Total Mensual: <span ng-show="tempProforma.proforma.cuotaMensual">{{tempProforma.proforma.cuotaMensual| currency:"US$ ":2}}</span><span style="color: #8f8f8f; font-style: italic" ng-hide="tempProforma.proforma.cuotaMensual">Seleccione un certificado</span>
                </div>
            </div>
        </div>
        <!-- fin @issue JIRAV3-007  -->
      <div class="item item-divider assertive">Valores de Certificados</div>

      <ion-list>
    <!--    <div class="card">-->
          <ion-radio ng-model="tempProforma.proforma.certificadoPosicionID"  ng-value="group.id.certificadoPosicionID" 
          ng-repeat="group in lstCertificado" ng-click="elegirCertificado(group.id.certificadoPosicionID,group.cuotaMensual,group.cia)">
              <div class="row">
               <div class="col " align="left"><h2>Certificado {{group.certificadoValor | currency:"US$":2}}</h2></div>
              </div>
               <div class="row">
               <div class="col " align="right"><p>C. Mensual {{group.cuotaMensual | currency:"US$":2}}</p></div>
              </div>
              <div class="row" ng-hide="certificado!=group.id.certificadoPosicionID">
                <div class="col " align="left"><h2></h2></div> 
                <div class="col " align="right"><p>CIA {{group.cia | currency:"US$":2}}</p></div>
              </div>
              <div class="row" ng-hide="certificado!=group.id.certificadoPosicionID">
                <div class="col " align="left"><h2></h2></div>
                <div class="col " align="right"><p>Total {{group.cia+group.cuotaMensual | currency:"US$":2}}</p></div>
              </div>              
              
          </ion-radio>
       <!--   </div>-->
      </ion-list>

      <div class="item item-divider assertive" ng-show="tempProforma.proforma.vtaProspecto.esEdicion" style="margin-top: 5px;"></div>

      <div class="row"> 
        <div class="col text-center">
        <button class="button button-assertive icon icon-left ion-checkmark" ng-click="guardar();" style="width: 75%;"
         ng-show="tempProforma.proforma.vtaProspecto.esEdicion">
          Guardar
        </button>
        </div>
      </div>
      

      
       
    </ul>  

  </ion-content>
</ion-view>
