<ion-view title="Proforma">
        <ion-nav-title>
          <span>Proforma</span>
        </ion-nav-title> 
 <ion-content>

     <ul class="list">

      <label class = "item item-input item-select">
      	<i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Tipo de Bien</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstTipoBien">{{item.descripcion}}</option>
        </select>
      </label>

      <label class = "item item-input item-select">
      	<i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Modelo</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstModelo">{{item.descripcion}}</option>
        </select>
      </label>

      <label class = "item item-input item-select">
      	<i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Marca</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstMarca">{{item.descripcion}}</option>
        </select>
      </label>

      <label class = "item item-input item-select">
      	<i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Proforma - Producto</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstProgramaProducto">{{item.descripcion}}</option>
        </select>
      </label>

      <label class = "item item-input item-select">
      	<i class="icon ion-person-stalker custom-icon"></i>
        <span class="input-label" >Grupo</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstGrupo">{{item.descripcion}}</option>
        </select>
      </label>

	<div class="item item-divider">Datos del Grupo</div>


      <label class="item item-input" >
        <span class="input-label" >Nro de Vacantes</span>
        <div class = "col col-5" align="right">
           <span class="input-label">140</span>
         </div>
      </label>	

      <label class="item item-input" >
        <span class="input-label" >Nro de Cuotas</span>
        <div class = "col col-5" align="right">
           <span class="input-label">60</span>
         </div>
      </label>	      

      <label class="item item-input" >
        <span class="input-label" >Cuota de Ingreso</span>
        <div class = "col col-5" align="right">
           <span class="input-label">1</span>
         </div>
      </label>	            
	</ul>

	<div class="item item-divider">Certificados</div>
 <div class="table-responsive-custom">
 <div class="row header">
          <div class="col">Certificado</div>
          <div class="col">Cuota Mensual</div>
          <div class="col">CIA</div>
          <div class="col">Total</div>
          <div class="col"></div>
        </div>
        <div class="row" ng-repeat="data in data">
          <div class="col">{{data.valorCertificado}}</div>
          <div class="col">{{data.cuotaMensual}}</div>
          <div class="col">{{data.cia}}</div>
          <div class="col">{{data.total}}</div>
          <div class="col"><button class="button" ng-click="add($index)">Add</button></div>
        </div>
      </div>

 </ion-content>
</ion-view>