<ion-view title="Proforma">
  <ion-nav-title>
    <span>Registro de Proforma</span>
  </ion-nav-title>
  <ion-content>

    <ul class="list">
      <label class = "item item-input row">
        <button class="button button-calm icon ion-home" modal-select="" ng-model="searchModel" options="puntosDeVentas" has-search="true" modal-title="Puntos de Venta" cancel-button="Cancelar" reset-button="Resetear" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="Buscar" cancel-search-button="Limpiar">          
          <div class="option">
            {{option.name}} - {{option.role}}
          </div>
        </button>              
        <div class="col"></div>
        <span class="input-label col" style="margin-left:10px;" > {{searchModel.name?searchModel.name:'Escoja un punto de venta'}}</span>
      </label>
      <label class="item item-input item-select" data-tap-disabled="true">
        <i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Tipo de Bien</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstTipoBien">{{item.descripcion}}</option>
        </select>
      </label>

      <label class="item item-input item-select" data-tap-disabled="true">
        <i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Marca</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstMarca">{{item.descripcion}}</option>
        </select>
      </label>

      <label class="item item-input item-select" data-tap-disabled="true">
        <i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Modelo</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstModelo">{{item.descripcion}}</option>
        </select>
      </label>

      <label class="item item-input item-select" data-tap-disabled="true">
        <i class="icon ion-chatbubble-working custom-icon"></i>
        <span class="input-label" >Programa - Producto</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstProgramaProducto">{{item.descripcion}}</option>
        </select>
      </label>

      <label class="item item-input item-select" data-tap-disabled="true">
        <i class="icon ion-person-stalker custom-icon"></i>
        <span class="input-label" >Grupo</span>
        <select>
           <option value="{{item.codigo}}" ng-repeat="item in lstGrupo">{{item.descripcion}}</option>
        </select>
      </label>

      <div class="item item-divider assertive">Datos del Grupo</div>

      <div class = "row">
         <div class = "col col-75">
          Nro de Vacantes
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">140</span>
         </div>
      </div>


      <div class = "row">
         <div class = "col col-75">
          Nro de Cuotas
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">60</span>
         </div>
      </div>


      <div class = "row">
         <div class = "col col-75">
          Cuota de Ingreso
         </div>
         <div class = "col col-25" align="right">
           <span class="input-label">1</span>
         </div>
      </div>

    <div class="item item-divider assertive">Valores de Certificados</div>



  <ion-list>
<!--    <div class="card">-->
      <ion-radio ng-model="choice" ng-value="'A'" ng-repeat="group in groups">
          <div class="row">
           <div class="col " align="left"><h2>Cdo {{group.valorCertificado}}</h2></div>
           <div class="col " align="right"><p>C. mensual {{group.cuotaMensual}}</p></div>
          </div>
          <div class="row">
            <div class="col " >
              <p>CIA {{group.cia}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col " >
              <p>Total {{group.total}}</p>
            </div>
          </div>
          
      </ion-radio>
   <!--   </div>-->
  </ion-list>



    </ul>  

  </ion-content>
</ion-view>