<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Tipo de Documento</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">


      <button class="button button-block button-assertive" ui-sref="app.confirmacionCliente">
        (DNI) Documento Nacional de Identidad
      </button>
      <button class="button button-block button-assertive" ui-sref="app.confirmacionCliente">
        (RUC) Registro Único de Contribuyente
      </button>
      <button class="button button-block button-assertive" ui-sref="app.confirmacionCliente">
        (C.E.) Carne de Extranjería
      </button>
      <button class="button button-block button-assertive" ui-sref="app.confirmacionCliente">
        (P.S.) Pasaporte
      </button>
      
<!--</div>-->
    </ul>
  </ion-content>
</ion-view>
