<!--
* FECHA		ISSUE		RESPONSABLE
* 20.09.2017   VTAOBS1-3	JOHN VELASQUEZ
* -->
<div class="row" style="position: absolute; top: 30%"> 
    <div class="col text-center">
        <h3>{{mensaje}}</h3>        
    </div>
</div>