<div class="" style="height: 3em" ng-show="$ctrl.reproduccion.status==$ctrl.STATUS.RECORD_COMPLETE||$ctrl.reproduccion.status==$ctrl.STATUS.PLAYING||$ctrl.reproduccion.status==$ctrl.STATUS.PAUSE">
    <div class="progress" ng-click="$ctrl.seek($event)">
        <div class="inner-progress" ng-style="{'width': $ctrl.progressPct+'%'}"></div>
    </div>
    <div class="row">
        <span class="col col-md-2">{{$ctrl.progress | secondsToDateTime}}</span>
        <span class="col col-md-8"></span>
        <span class="col col-md-2" style="text-align: right">{{$ctrl.duration | secondsToDateTime}}</span>
    </div>
</div>
<div class="row" style="height: 100%;max-height: 4em;padding:0;">
    <div class="col" style="height: 100%;max-height: 4em;padding: 5px 20%;margin-top: 1.5em;" ng-show="$ctrl.reproduccion.status==$ctrl.STATUS.PRE_RECORDING">
        <button ng-click="$ctrl.startRecord()" class="h-center card button button-icon icon ion-android-microphone btn-round warnin"></button>
    </div>
    <div class="col" style="height: 100%;max-height: 4em;padding: 5px 20%;margin-top: 1.5em;"  ng-show="$ctrl.reproduccion.status==$ctrl.STATUS.RECORDING">
        <button ng-click="$ctrl.stopRecord()"  class="h-center card button button-icon icon ion-stop btn-round warnin"></button>
    </div>
    <div class="col" style="height: 100%;max-height: 4em;padding: 5px 20%"  ng-show="$ctrl.reproduccion.status==$ctrl.STATUS.RECORD_COMPLETE||$ctrl.reproduccion.status==$ctrl.STATUS.PAUSE">
        <button ng-click="$ctrl.play()"  class="h-center button card button-icon icon ion-play btn-round positive"></button>
    </div>
    <div class="col" style="height: 100%;max-height: 4em;padding: 5px 20%"  ng-show="$ctrl.reproduccion.status==$ctrl.STATUS.PLAYING">
        <button ng-click="$ctrl.pause()"  class="h-center button card button-icon icon ion-pause btn-round positive"></button>
    </div>
    <div class="col" style="height: 100%;max-height: 4em;padding: 5px 20%"  ng-show="$ctrl.reproduccion.status==$ctrl.STATUS.RECORD_COMPLETE||$ctrl.reproduccion.status==$ctrl.STATUS.PLAYING||$ctrl.reproduccion.status==$ctrl.STATUS.PAUSE">
        <button ng-click="$ctrl.reset()"  class="h-center button card button-icon icon ion-trash-a btn-round warnin"></button>
    </div>
</div>
<style>
    .progress{
        height: 10px;
        background: gray;
        width: 100%;
    }
    .inner-progress{
        height: 100%;
        background: #027bec;
        background: -moz-linear-gradient(top, #027bec 0%, #004b93 100%);
        background: -webkit-linear-gradient(top, #027bec 0%,#004b93 100%);
        background: linear-gradient(to bottom, #027bec 0%,#004b93 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
    }
    .h-center{
        margin: 0em 40%;
        width: 3em;
        height: 3em;
    }
    .btn-round{
        border-radius: 50%;
        background-color: gainsboro;        
    }    
</style>