<div class="list">
    <div class="item item-divider" style="border:none">                    
        <span>Agregar imagen</span>
    </div>
    <ion-content  class="item" scroll="true" direction="x" has-bouncing="true" class="col col-100" style=" height: 19em;padding: 0px;" ng-hide="!$ctrl.hayImagenes()">
        <div class="row" style="width: max-content;padding: 0px; margin: auto;">
                <div class="list card col" style="max-width: 15em;  max-height: 15em; width: fit-content; height: fit-content;padding:0px" ng-repeat="imageSrc in  $ctrl.ngModel">                
                    <div class="item item-image">
                        <img ng-src="{{imageSrc}}">
                    </div>
                                
                    <a class="item item-icon-right assertive" ng-click="$ctrl.quitarImagen($index)" style="position: absolute;bottom: 0px;left: 0px;right: 0px; background-color: rgba(255, 255, 255, 0.75);">            
                        Eliminar
                        <i class="icon ion-android-close"></i>
                    </a>        
                </div>            
        </div>            
    </ion-content>
    <div class="item row" style="margin: 20px 10px; border: none;padding:0px;" ng-hide="$ctrl.seLlegoAlLimiteDeImagenes()">                                
        <button class="button button-icon icon ion-camera col" ng-click="$ctrl.tomarFoto()">                
                Camara
        </button>
        <button class="button button-icon icon ion-images col" ng-click="$ctrl.seleccionarImagen()">                
                Galería
        </button>
    </div>
</div>