<ion-pane class="messaging-view">
    <ion-header-bar class="">
        <h1 class="title">Chat</h1>
    </ion-header-bar>

    <ion-content class="content-stable" scroll="true" direction="y" delegate-handle="chatScroll" has-bouncing="true" >

        <div ng-repeat="mensaje in $ctrl.chat.mensajes" ng-class="{other: $ctrl.esMiMensaje(mensaje)}" class="messages">

            <div ng-class="$ctrl.obtenerCSS(mensaje)">                                
                <!--<span class="bubble">
                    <small class="name row" ng-show="!$ctrl.esMiMensaje(mensaje)">{{mensaje.personaNombre}}: </small>
                </span>-->
                <div class="flecha-izquierda" ng-show="!$ctrl.esMiMensaje(mensaje)"></div> 
                <div class="contenido">
                    <p class="cabecera">{{mensaje.personaNombre}}</p> 
                    <span style="margin-top: 5px">{{mensaje.texto}}</span>
                </div>
                <div class="flecha-derecha" ng-show="$ctrl.esMiMensaje(mensaje)"></div> 
                <div class="fecha">{{mensaje.fechaCreacion}} {{mensaje.horaCreacion}}</div>
                <!--<p><small class="time"></small></p>-->
            </div>            
        </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper" style="position: relative;">
            <input type="text" placeholder="Escribe tu mensaje" on-return="$ctrl.enviarMensaje(); $ctrl.cerrarTeclado()" ng-model="$ctrl.nuevoMensaje.texto" on-focus="$ctrl.inputUp()" on-blur="$ctrl.inputDown()" ng-maxlength="$ctrl.messageMaxLength" maxlength="$ctrl.messageMaxLength" style="    padding-right: 3em;"/>
            <character-counter text = "$ctrl.nuevoMensaje.texto" max-length="$ctrl.messageMaxLength"></character-counter>
        </label>
        <button class="button button-clear" ng-click="$ctrl.enviarMensaje()">
            enviar
          </button>
    </ion-footer-bar>
</ion-pane>
