<div class="bar bar-header item-input-inset">
    <button class="button button-calm" 
            modal-select="" 
            ng-model="$ctrl.tipoDocumentoObj" 
            options="$ctrl.lstTipoDocumento"
            modal-title="Tipos de Documento" 
            cancel-button="Cancelar" 
            hide-reset="true"
            ok-button="Aceptar"
            load-list-message="Cargando"
            search-placeholder="Buscar"
            cancel-search-button="Limpiar"
            ng-show="$ctrl.tipoBusqueda.id==$ctrl.TIPO_BUSQUEDA_ID.DOCUMENTO_ASOCIADO"
            ng-change="$ctrl.tipoDocumentoChange()">
            {{$ctrl.tipoDocumentoObj?$ctrl.tipoDocumentoObj.descripcion:""}}
            <div class="option">
                {{option.descripcion}} - {{option.descripcionLarga}}
            </div>
    </button>
    <div class="col">
        <label class="item-input-wrapper">        
            <input type="search" 
                    placeholder="Buscar por {{$ctrl.tipoBusqueda.label}}" 
                    ng-model='$ctrl.valor'
                    style="text-transform: uppercase"
                    ng-change="$ctrl.valorChange()">
            <!--i class="icon ion-ios-search placeholder-icon"></i-->
        </label>
    </div>
    <div>
        <a class="button button-icon button-small icon ion-search" ng-click="$ctrl.buscar()"></a>
        <a class="button button-icon button-small icon ion-android-more-vertical"
            ng-click="$ctrl.openSearchOptionsPopover($event)">
        </a>
    </div>         
</div>

<script id="buscar-contrato-options-popover.html" type="text/ng-template">
    <ion-popover-view style="height: 30%;">
        <ion-header-bar>
        <h1 class="title">Buscar por</h1>
        </ion-header-bar>
        <ion-content>
        <div class="list">
            <a  class="item" ng-repeat="option in $ctrl.tipoBusquedas" 
                ng-click='$ctrl.selectOption(option)'>
                {{option.label}}
            </a>
        </div>
        </ion-content>
    </ion-popover-view>
</script>
