<div class="card list">
    <div class="row assertive" ng-show="$ctrl.personas[0].asociadoTipoID != $ctrl.TIPO_ASOCIADO.TITULAR&&$ctrl.personas[0].asociadoTipoID != $ctrl.TIPO_ASOCIADO.RESPALDO">Firma Digital Representantes Legales</div>
    <!--@issue inicio VTADIG2-535-->
    <div class="item" style="font-size: 14px;" ng-repeat="persona in $ctrl.personas" ng-show="persona.asociadoTipoID != $ctrl.TIPO_ASOCIADO.TITULAR&&persona.asociadoTipoID != $ctrl.TIPO_ASOCIADO.RESPALDO">
        <div class="row">
            <div class="col col-60" style="padding: 0px">
                <span style="text-transform:uppercase;white-space: normal">{{persona.personaNombre+' '+persona.personaApellidoPaterno+ ' '+persona.personaApellidoMaterno}}</span>
            </div>
            <div class="col col-40 item-button-right" style="padding: 0px">
                <div class="buttons" style="position: unset;float: right;">
                    <button class="button button icon" ng-click="$ctrl.openModal(persona)">
                        <i class="ion-android-microphone warnin"></i>
                    </button>
                    <button class="button button icon" ng-show="$ctrl.mediaActual!=persona.media||$ctrl.reproduccion.estatus!=$ctrl.ESTATUS.PLAY" ng-click="$ctrl.play(persona.media)" ng-disabled="!persona.media">
                        <i class="ion-volume-medium assertive"></i>
                    </button>
                    <button class="button button icon" ng-show="$ctrl.mediaActual==persona.media&&$ctrl.reproduccion.estatus==$ctrl.ESTATUS.PLAY" ng-click="$ctrl.stop()" ng-disabled="!persona.media">
                        <i class="ion-stop assertive"></i>
                    </button>
                    <a class="positive icon ion-checkmark-circled" ng-show="persona.media"></a>
                    <a class="warnin icon ion-android-alert" ng-show="!persona.media"></a>
                </div>
            </div>
        </div>
    </div>          
    <!--@issue fin VTADIG2-535-->
    <div class="row assertive" ng-show="$ctrl.personas[0].asociadoTipoID == $ctrl.TIPO_ASOCIADO.TITULAR||$ctrl.personas[0].asociadoTipoID == $ctrl.TIPO_ASOCIADO.RESPALDO">Firma Digital Titulares</div>
    <!--@issue inicio VTADIG2-535-->
    <div class="item" style="font-size: 14px;" ng-repeat="persona in $ctrl.personas" ng-show="persona.asociadoTipoID == $ctrl.TIPO_ASOCIADO.TITULAR">
        <div class="row">
            <div class="col col-60" style="padding: 0px">
                <span style="text-transform:uppercase;white-space: normal">{{persona.personaNombre+' '+persona.personaApellidoPaterno+ ' '+persona.personaApellidoMaterno}}</span>
            </div>
            <div class="col col-40 item-button-right" style="padding: 0px">
                <div class="buttons" style="position: unset;float: right;">
                    <button class="button button icon" ng-click="$ctrl.openModal(persona)">
                        <i class="ion-android-microphone warnin"></i>
                    </button>
                    <button class="button button icon" ng-show="$ctrl.mediaActual!=persona.media||$ctrl.reproduccion.estatus!=$ctrl.ESTATUS.PLAY" ng-click="$ctrl.play(persona.media)" ng-disabled="!persona.media">
                        <i class="ion-volume-medium assertive"></i>
                    </button>
                    <button class="button button icon" ng-show="$ctrl.mediaActual==persona.media&&$ctrl.reproduccion.estatus==$ctrl.ESTATUS.PLAY" ng-click="$ctrl.stop()" ng-disabled="!persona.media">
                        <i class="ion-stop assertive"></i>
                    </button>
                    <a class="positive icon ion-checkmark-circled" ng-show="persona.media"></a>
                    <a class="warnin icon ion-android-alert" ng-show="!persona.media"></a>
                </div>
            </div>
        </div>
    </div>
    <!--@issue fin VTADIG2-535-->
    <div class="row assertive" ng-show="$ctrl.showLabelRespaldo()">Firma Digital Respaldo</div>
    <!--@issue inicio VTADIG2-535-->
    <div class="item" style="font-size: 14px;" ng-repeat="persona in $ctrl.personas" ng-show="persona.asociadoTipoID == $ctrl.TIPO_ASOCIADO.RESPALDO">
        <div class="row">
            <div class="col col-60" style="padding: 0px">
                <span style="text-transform:uppercase;white-space: normal">{{persona.personaNombre+' '+persona.personaApellidoPaterno+ ' '+persona.personaApellidoMaterno}}</span>
            </div>
            <div class="col col-40 item-button-right" style="padding: 0px">
                <div class="buttons" style="position: unset;float: right;">
                    <button class="button button icon" ng-click="$ctrl.openModal(persona)">
                        <i class="ion-android-microphone warnin"></i>
                    </button>
                    <button class="button button icon" ng-show="$ctrl.mediaActual!=persona.media||$ctrl.reproduccion.estatus!=$ctrl.ESTATUS.PLAY" ng-click="$ctrl.play(persona.media)" ng-disabled="!persona.media">
                        <i class="ion-volume-medium assertive"></i>
                    </button>
                    <button class="button button icon" ng-show="$ctrl.mediaActual==persona.media&&$ctrl.reproduccion.estatus==$ctrl.ESTATUS.PLAY" ng-click="$ctrl.stop()" ng-disabled="!persona.media">
                        <i class="ion-stop assertive"></i>
                    </button>
                    <a class="positive icon ion-checkmark-circled" ng-show="persona.media"></a>
                    <a class="warnin icon ion-android-alert" ng-show="!persona.media"></a>
                </div>
            </div>
        </div>
    </div>
    <!--@issue fin VTADIG2-535-->
</div>
<script id="modal-firma-digital-speech.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Grabación Firma Electrónica</h1>
        </ion-header-bar>
        <ion-content scroll="false">
            <speech-recorder contrato="contrato" titular="persona" 
                                on-record-complete="$ctrl.recordComplete($media)" 
                                on-cancel-record="$ctrl.cancelRecord()"
                                on-reset-record = "$ctrl.resetRecord()"></speech-recorder>
        </ion-content>
        <ion-footer-bar class="bar bar-footer bar-stable" style="font-size: 20px;">
            <button class="button button-stable modal-select-close-button" ng-click="cancel();">Cancelar</button>
            <button class="button button-stable" ng-disabled="!$ctrl.complete" ng-click="aceptar()">Aceptar</button>
        </ion-footer-bar>
    </ion-modal-view>
</script>
