<div class="item">
    <h2 class="row" style="padding-left:0%; padding-right: 1em;">
        {{$ctrl.incidencia.tipoCategoriaNombre}}
        <small style='text-align: right; font-size:0.75em;' class="col">
                {{$ctrl.incidencia.fechaCreacion}}
        </small>
    </h2>
    <h3 class="row" style="padding-left:0%; padding-right: 1em;">
        {{$ctrl.incidencia.categoriaNombre}}
        <small style='text-align: right; font-size:0.75em;' class="col">
            {{$ctrl.incidencia.horaCreacion}}
        </small>
    </h3>
    <h4 class="row" style="padding-left:0%; padding-right: 1em;">
        TICKET : {{$ctrl.incidencia.numeroTicket}} - {{$ctrl.incidencia.propietarioNombre}}
    </h4>
    <span data-ng-if="$ctrl.incidencia.mensajesPendientes > 0" class="badge badge-assertive" style="top:0.5em;right:0.5em">{{$ctrl.incidencia.mensajesPendientes}}</span>
</div>