<!--

 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |JIRAV3-003				   |1.0.1    |John Velasquez   |23.11.2018 | agregar indicador de cuotas morosas  |
 |V4-HU008				       |1.2.0    |John Velasquez   |01.07.2019 | Mostrar el nombre del funcionario de ventas|
 |--------------------------------------------------------------------------------------------------------|

-->

<!--INI GBENITES - VD2-RQ30 - 07/08/2018-->
<!-- inicio @issue JIRAV3-003 -->
<div class="item item-avatar" ui-sref="{{$ctrl.proforma.contratoRestriccion == true ? 'app.detalleRestriccion({contratoID:$ctrl.proforma.contratoId})':null}}">
<!-- fin @issue JIRAV3-003 -->
    <!--FIN GBENITES - VD2-RQ30 - 07/08/2018-->
    <img ng-src="{{$ctrl.proforma.separacionPct>0 && 'img/icon-wage.png' || 'img/icon-wage-grayscale.png'}}" ng-style="$ctrl.proforma.separacionPct>0 && {'clip-path':'inset({{(100-$ctrl.proforma.separacionPct)}}% 0 0 0)', 'background-color':  '#E0E0E0', 'z-index': '51'} || {'clip-path':'inset({100% 0 0 0)', 'background-color':  '#E0E0E0', 'z-index': '51'}">
    <img style="background-color:#E0E0E0;position: absolute;top: 16px;left: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;z-index:50">
    <div class="row" style="padding: 0px">
        <h2 class="col" style="padding: 0.1em">
            <strong>N° {{$ctrl.proforma.mMensjae}}</strong>
        </h2>
        <small ng-show="$ctrl.proforma.contratoFechaCreacion" style='text-align: right; font-size:0.75em;margin: 0px;padding:0px;'>
                {{$ctrl.proforma.contratoFechaCreacion}}
        </small>
        <small ng-hide="$ctrl.proforma.contratoFechaCreacion" style='text-align: right; font-size:0.75em;margin: 0px;padding:0px;'>
                {{$ctrl.proforma.fechaCreacion}}
        </small>
    </div>
    <h3  class="row" style="padding: 0.1em;white-space: initial">
        {{$ctrl.proforma.prospectoBean.nombreCompleto}}
    </h3>
    <h4  class="row" style="padding: 0.1em;">
        {{$ctrl.proforma.prospectoBean.tipoDocumentoObj.descripcion}} {{$ctrl.proforma.prospectoBean.numeroDocumento}}
    </h4>
    <!-- inicio @issue JIRAV3-003 -->
    <h3>{{$ctrl.proforma.productoBean.productoNombre}} {{$ctrl.proformaBean.setSituacionContratoNombre("NO ADJUDICADO")}}</h3>
    <!-- fin @issue JIRAV3-003 -->
    <h4 ng-show="$ctrl.mostrarNombreVendedor==true">EDV: {{$ctrl.proforma.vendedorNombre}}</h4>
    <!-- inicio @feature V4-HU008 -->
    <h4>Func Serv y Vta: {{$ctrl.proforma.responsablesContrato && $ctrl.proforma.responsablesContrato[0] && $ctrl.proforma.responsablesContrato[0].personaNombreCompleto ? $ctrl.proforma.responsablesContrato[0].personaNombreCompleto : 'Información no disponible'}}</h4>
    <!-- fin @feature V4-HU008 -->
    <!--INI GBENITES - VD2-RQ30 - 07/08/2018-->
    <h3 style="font-size: 0.8rem" ng-show="$ctrl.proforma.situacionContratoNombre">{{$ctrl.proforma.situacionContratoNombre}}</h3>
    <!--FIN GBENITES - VD2-RQ30 - 07/08/2018-->
    <!-- inicio @issue JIRAV3-003 -->
    <!-- inicio @feature V4-HU008 -->
    <div style="position: relative;
                bottom: 0.5em;
                right: 0.1em;
                width: fit-content;
                float: right;"><!-- fin @feature V4-HU008 -->
        <div class="row" ng-show="$ctrl.proforma.contratoEsMoroso === true">
            <div class="col">
            <span style="float: right;
                        background: red;
                        color: white;
                        font-size: 0.8em;
                        border-radius: 1em;
                        padding: 0.2em 1em;">Moroso ({{$ctrl.proforma.datosMosoridad.cuotasMorosas}})</span>
            </div>
        </div>
        <div class="row" ng-show="$ctrl.proforma.contratoRestriccion === true">
            <a style="border: 2px solid red; color: red; text-decoration: none; padding: 0.1em 1em;
                font-size: 0.8rem;font-weight: 700;"
               class="col"
               ng-if="$ctrl.proforma.situacionContratoNombre === 'ADJ.SORTEO' || $ctrl.proforma.situacionContratoNombre === 'ADJ. ANTICIPADA' || $ctrl.proforma.situacionContratoNombre === 'ADJ.REMATE' || $ctrl.proforma.situacionContratoNombre === 'NO ADJUDICADO'">Con Restricción</a>
        </div>
    </div>
    <!-- fin @issue JIRAV3-003 -->
</div>

<!-- inicio @issue JIRAV3-003 -->
<!-- fin @issue JIRAV3-003 -->
