<div style="height: 100%; width: 100%;position: relative">
    <ion-scroll direction="x" class="wide-as-needed" style="height: 100%;">
        <div data-ng-bind-html="$ctrl.trustAsHtml($ctrl.speech)" id="text-area" class="col col-sm-12" readonly></div>
    </ion-scroll>
    <audio-recorder id="audio-recorder" file-name="$ctrl.fileName" 
                    on-record-start = "$ctrl.recordStart()" 
                    on-cancel-record = "$ctrl.cancelRecord()" 
                    on-record-complete = "$ctrl.recordComplete($media)" 
                    on-reset-record = "$ctrl.resetRecord()"></audio-recorder>
</div>
<style>
    #audio-recorder{
        position: absolute;
        bottom: 0em;
        width: 100%;
        height: 7em;
        box-shadow: 1px 1px 20px 5px #a2a2a2;
    }
    #text-area{
        height: fit-content;
        text-align: justify;
        position: absolute;
        overflow-y: auto;
        height: auto;
        bottom: 7em;
        top: 0em;
        padding: 1em;
    }
</style>