<ion-view>
    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Viaje del Nuevo Vendedor</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-small button-icon ion-checkmark" ng-click="guardarObservacion()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <!--ion-item class="item-divider">
                Datos del vendedor
            </ion-item-->
            <ion-item>
                <p><b>{{vendedor.personNombreCompleto}}</b></p>
                <p><b>Fecha de ingreso:</b> {{vendedor.fechaIngreso}}</p>
            </ion-item>
            <ion-item class="item-divider" style="text-align: center">
                {{formulario.titulo}}
            </ion-item>
            <ion-item class="item-input row" ng-repeat-start="item in observacion.detalle">
                <ion-label class="input-label col col-50" style="white-space: normal;">{{item.label}}</ion-label>
                <div class="row" ng-if="item.tipo.includes(TIPO_INPUT.SI_NO)">
                    <ion-checkbox ng-model="item.respuestaSi" ng-click="toggleSi(item, $index)"
                                  style="border: none;padding-left: 3em !important;">Si
                    </ion-checkbox>
                    <ion-checkbox ng-model="item.respuestaNo" ng-click="toggleNo(item, $index)"
                                  style="border: none;padding-left: 3em !important;">No
                    </ion-checkbox>
                </div>
            </ion-item>

            <label class="item item-input" ng-repeat-end="" ng-if="item.respuesta" id="text_area_container_{{$index}}">
                <textarea placeholder="Comentario{{item.respuesta === RESPUESTA.NO ? '(obligatorio)' : '(opcional)'}}"
                          ng-trim="true" ng-model="item.comentario" ng-maxlength="500" maxlength="500"
                          rows="4" style="font-size:16px;height : 3em; text-align: justify; white-space: pre-line;"
                          id="text_area_{{$index}}" on-click="setCurrentTextArea($index)"></textarea>
            </label>
            <input id="nofocus" type="hidden" autofocus="true" />
        </ion-list>
    </ion-content>
</ion-view>
