<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Viaje del Nuevo Vendedor</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-small button-icon ion-checkmark" ng-click="actualizarPasaporte()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item>
                <p><b>{{vendedor.personNombreCompleto}}</b></p>
                <p><b>Fecha de ingreso:</b> {{vendedor.fechaIngreso}}</p>
            </ion-item>
            <ion-item class="item-divider" style="text-align: center">
                <h2><b>PASAPORTE</b></h2>
            </ion-item>
            <ion-item class="item-divider"  ng-repeat-start="semana in pasaporte.semanas" ng-click="semana.desplegado = !semana.desplegado">
                <b>{{semana.desplegado?'-':'+'}} Semana: {{semana.semana}}</b>
            </ion-item>
            <ion-item class="item-input row" ng-repeat="actividad in semana.actividades" ng-repeat-end="" ng-show="semana.desplegado">
                <ion-label class="input-label col col-80" style="white-space: normal;">{{actividad.nombre}}</ion-label>
                <div class="row">
                    <ion-checkbox ng-model="actividad.actividadRealizada" style="border: none;padding-left: 3em !important;" ng-disabled="actividad.actividadRealizada && actividad.actividadEstado != 1">
                    </ion-checkbox>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
