<ion-view>
    <ion-nav-buttons side="left">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Viaje del Nuevo Vendedor</span>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item>
                <p><b>{{reporte.vendedor.personNombreCompleto}}</b></p>
                <p><b>Fecha de ingreso:</b> {{reporte.vendedor.fechaIngreso}}</p>
                <p><b>Semana {{reporte.semana.semana}}:</b> {{reporte.semana.inicio}} - {{reporte.semana.fin}}</p>
            </ion-item>
            <ion-item class="item-divider" ng-repeat-start="observacion in reporte.observaciones">
                <b>{{observacion.formularioItem.label}}</b>
            </ion-item>
            <ion-item ng-repeat="detalle in observacion.detalle" ng-repeat-end="">
                <p><b>Fecha:</b> {{detalle.observacionFecha}} <b>Rpta:</b> {{detalle.respuesta}}</p>
                <p disabled ng-if="detalle.comentario" style="white-space: pre-line; text-align: justify"><b>Obs:</b> {{detalle.comentario}}</p>
            </ion-item>
            <ion-item class="item-divider" ng-if="reporte.permiteFeedback || reporte.semana.feedback">
                <b>Feedback
                <small ng-hide="semana.estado === SEMANA_ESTADO.GENERADO || !reporte.semana.tipoFeedbackDescripcion">
                    ({{reporte.semana.tipoFeedbackDescripcion}})
                </small>
                </b>
            </ion-item>
            <!-- SEMANA ESTADO DIFERENTE DE GENERADO <=> ver feecback -->
            <ion-item ng-hide="reporte.semana.estado === SEMANA_ESTADO.GENERADO">
                <p style="white-space: pre-line; text-align: justify">{{reporte.semana.feedback}}</p>
            </ion-item>
            <!-- FRAGMENTO DE SUPERVISOR -->
            <div ng-if="me.tipoUsuarioVentas === TIPO_USUARIO.SUPERVISOR"
                 ng-include="'views/app/viajeNuevoVendedor/fragments/semanFragmentoSup.html'"></div>
            <!-- FRAGMENTO DE EV-->
            <div ng-if="me.tipoUsuarioVentas === TIPO_USUARIO.VENDEDOR"
                 ng-include="'views/app/viajeNuevoVendedor/fragments/semanFragmentoEdv.html'"></div>
        </ion-list>
    </ion-content>
</ion-view>
