<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Viaje del Nuevo Vendedor</span>
    </ion-nav-title>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <input type="search" placeholder="Buscar" ng-model='search.personNombreCompleto'>
                <i class="icon ion-ios-search placeholder-icon"></i>
            </label>
        </div>
        <div class="list">
            <div ng-repeat="vendedor in vendedores | filter:search " class="item row">
                <div class="col col-75" >
                    <p style="line-break: normal; white-space: normal">{{vendedor.personNombreCompleto}}</p>
                </div>
                <div class="col col-25" style="text-align: right;">
                    <a class="button button-icon" style="min-height: 1em; line-height: 1em" ui-sref="app.viajeNuevoVendedorDetalleVendedor({personaId: vendedor.personaID})">
                        <img class="icon" src="img/icons/checkperson.svg"/>
                    </a>
                    <a class="button button-icon" style="min-height: 1em; line-height: 1em" ng-click="nuevaObservacion(vendedor)">
                        <img class="icon" src="img/icons/addcomment.svg"/>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
