<ion-view>
    <ion-nav-buttons side="left">
        <button  ng-if="paramVendedorId" ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <button ng-if="!paramVendedorId" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Viaje del Nuevo Vendedor</span>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item>
                <p><b>{{vendedor.personNombreCompleto}}</b></p>
                <p><b>Fecha de ingreso:</b> {{vendedor.fechaIngreso}}</p>
            </ion-item>
            <ion-item class="item-divider">
                Semanas
            </ion-item>
            <a ng-repeat="semana in vendedor.semanasViajeNuevoVendedor" class="item row" ng-class="{'semana-actual': vendedor.semanaActual && semana.semana === vendedor.semanaActual.semana}" ui-sref="app.viajeNuevoVendedorDetalleSemana({personaId: vendedor.personaID, semana:semana.semana})">
                <div class="col col-10 numero-semana-container"><b class="numero-semana">{{semana.semana}}</b></div><div class="col col-90"> <p>{{semana.inicio}} - {{semana.fin}}</p><p><small><b>Estado:</b> {{semana.estadoDescripcion}}</small></p></div>
            </a>
        </ion-list>
    </ion-content>
    <style>
        .semana-actual>.numero-semana-container{
            padding: 0;
        }
        .semana-actual>.numero-semana-container>.numero-semana{
            background-color: #004b93;
            width: 1.5em;
            height: 1.5em;
            border-radius: 1em;
            color: white;
            padding: 0.15em 0.1em;
            text-align: center;
            position: absolute;
            top: 0.1em;
        }
    </style>
</ion-view>
