<!-- <ion-nav-view class="auth-outer"> -->
<ion-nav-view class="auth-outer">
	<div ng-style="{
		'background-image': 'url('+fondo+')', 
		'height':'100%',
		'background-size': 'cover'}"></div>
	<!-- <div multi-bg="['img/bg-img.jpg']"></div> -->
</ion-nav-view>
