<!--

 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |JIRAV3-004				   |1.0.1    |John Velasquez   |23.11.2018 | quitar select de punto de venta |
 |--------------------------------------------------------------------------------------------------------|

-->

<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Login {{environment?'('+environment+')':''}}">
                <div class="list">
                   <label class="item item-input" >
                    <input type="text" placeholder="USUARIO" ng-model="credenciales.username" ng-required="true">
                  </label>
                  <label class="item item-input" >
                    <input type="password" placeholder="CONTRASEÑA" ng-model="credenciales.password" ng-required="true">
                  </label>
                </div>
              </my-tab>
            </my-tabs>
              <!-- inicio @issue JIRAV3-004 -->
              <!--label class = "item item-input row" style="padding: 0.5em;">

                <button ng-hide="true" class="button button-calm icon ion-home" modal-select="" ng-model="defaults.puntoExhibicion" 
                options="lstPuntoExhibicion" has-search="true" modal-title="Puntos de Venta" cancel-button="Cancelar" 
                hide-reset="true" ok-button="Aceptar" load-list-message="Cargando" search-placeholder="Punto de exibicion" cancel-search-button="Limpiar">          
                  <div class="option" ng-hide="!option.descripcion.trim()">
                      <span style="font-size: 12px; overflow:hidden; width: 100%;"> {{option.descripcion}} </span>
                  </div>
                </button>       
                
                <div class="col col-100" style="overflow: hidden;">
                  <span class="input-label col col-100" style="width: 100%; white-space:normal; max-width:100%" > 
                    {{defaults.puntoExhibicion?defaults.puntoExhibicion.descripcion:'Escoja un punto de venta'}}
                  </span>
                </div>

              </label-->
              <!-- fin @issue JIRAV3-004 -->
            <div class="item item-body bottom-content">
              <button id="loginButton" type="submit" class="button button-block button-assertive" ng-click="doLogIn()"  >
                Iniciar Sesión
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <!--a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            Forgot Password?
          </a-->
          <!--a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a-->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
