<!--

 |--------------------------------------------------------------------------------------------------------|
 |@issue                       |@version |@author          |@date      | @desc                            |
 |--------------------------------------------------------------------------------------------------------|
 |JIRAV3-004				   |1.0.1    |John Velasquez   |23.11.2018 | creación |
 |PROD-V3    				   |1.1.0    |John Velasquez   |02.01.2019 | creación |
 |--------------------------------------------------------------------------------------------------------|

-->

<ion-view class="login-view auth-view" cache-view="false">
    <ion-nav-bar class="bar app-top-bar bar-header">
        <ion-nav-back-button class="button-icon ion-android-arrow-back" ng-click="sesionOut()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title>
        <span>Escoja su punto de venta</span>
    </ion-nav-title>
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-center">
                <ion-pane>
                    <!--ion-header-bar class="bar-light">
                        <h1 class="title" style="text-align: center">Escoja su punto de venta</h1>
                    </ion-header-bar-->
                    <ion-content>
                        <!-- inicio @issue PROD-V3-->
                        <div class="bar bar-header item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="search" placeholder="Buscar" ng-model='search_query'>
                                <i class="icon ion-ios-search placeholder-icon"></i>
                            </label>
                        </div>
                        <!-- fin @issue PROD-V3-->
                        <ion-list ng-if="lstPuntoExhibicion&&lstPuntoExhibicion.length>0">
                            <!-- inicio @issue PROD-V3-->
                            <ion-item ng-repeat="item in lstPuntoExhibicion | filter: search_query | orderBy:'descripcion'" ng-click="selectPuntoExhibicion(item)">
                                {{item.descripcion}}
                            </ion-item>
                            <!-- fin @issue PROD-V3-->
                        </ion-list>
                        <div ng-if="!lstPuntoExhibicion||lstPuntoExhibicion.length<=0" style="height: 100%; width: 100%; display: table;">
                            <span style="text-align: center;
                                        display: table-cell;
                                        vertical-align: middle;
                                        vertical-align: middle;
                                        padding: 25%;">No hay puntos de venta asignados a su unidad de negocio</span>
                            <button style="max-width: 30em;
                                        position: absolute;
                                        bottom: 5em;
                                        left: 30%;
                                        width: 40%;" class="button button-assertive icon icon-left ion-ios-arrow-back" ng-click="sesionOut()"> Volver </button>
                        </div>
                    </ion-content>
                </ion-pane>
            </div>
        </div>
    </ion-content>
</ion-view>