<!--
|V4-HU016                     |1.1.0    |John velasquez   |25/07/2019 | creación |
-->
<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Estadística de Remates</span>
    </ion-nav-title>
    <ion-content>
        <form novalidate>
            <label class = "item item-input item-select item-light" data-tap-disabled="true">
                <span class="input-label" style="font-size:14px;white-space:initial;" >Producto </span>
                <select class="col" style="text-transform:uppercase;"
                        ng-model="formData.producto"
                        ng-change="mostrarProducto(formData.producto)"
                        ng-options=" o.productoNombre for o in productos">
                    <option value="" disabled>Seleccione</option>
                </select>
            </label>
            <!--label class = "item item-input item-select item-light" data-tap-disabled="true">
                <span class="input-label" style="font-size:14px;white-space:initial;" >Últimos </span>
                <select class="col" style="text-transform:uppercase;" 
                        ng-model="formData.ultimos"
                        ng-change="cargar(formData.ultimos)"
                        ng-options=" (o.cantidad+' '+o.campo.descripcion) for o in optionesUltimos">
                    <option value="" disabled>Seleccione</option>
                </select>
            </label-->
            <label class = "item item-light" data-tap-disabled="true" ng-show="mainChart.data && mainChart.data.datasets && mainChart.data.datasets.length > 0">
                <p style="font-size:14px;white-space:initial;text-align: center" >Grupos {{formData.producto.productoNombre}} <!--{{data.data.temporalRangeFrom}}-{{data.data.temporalRangeTo}} --></p>
            </label>
            <div class="row" ng-show="mainChart.data && mainChart.data.datasets && mainChart.data.datasets.length > 0">
                <span class="col" style="text-align: end;"><i class="ion-record" style="color: {{datasetcolors[0]}}; margin-right: 0.5em;"></i>Promedio max</span>
                <span class="col"><i class="ion-record" style="color: {{datasetcolors[1]}}; margin-right: 0.5em;"></i>Promedio min</span>
            </div>
            <div class="col" ng-hide="control.noconsultado || (mainChart.data && mainChart.data.datasets && mainChart.data.datasets.length > 0)" style="text-align: center; position: fixed; top: 13em;"><b>Información no disponible en estos momentos, por favor inténtalo mas tarde.</b></div>
            <ion-content class="item" style="padding: 0;border: none"  scroll="true" direction="x" has-bouncing="true" >
                <div class="chart-container" style="position: relative; height:fit-content; width:{{mainChart.data.labels.length*2.5}}em" ng-show="mainChart.data && mainChart.data.datasets && mainChart.data.datasets.length > 0">
                    <canvas id="mainChart"></canvas>
                </div>
            </ion-content>
        </form>
    </ion-content>
</ion-view>
