<!--
|V4-HU010					 |1.1.0    |John Velasquez   |30.07.2019 | creación |
-->
<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Notificación Pago {{tipoPago}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon" ng-class="{'ion-checkmark-circled': toggleAllAction == toggleAllActions.SELECT_ALL, 'ion-minus-circled': toggleAllAction == toggleAllActions.DESELECT_ALL}" ng-click="toggleAll()"></button>
    </ion-nav-buttons>
    <ion-content>
        
        <ion-list class="list">
            <label class="item-list item-divider col">Puede envíar recordatorios cada {{configuracionRecordatorioPago.periodoTiempoEnvioDescripcion}}</label>
            <ion-checkbox class="item-list"
                          ng-disabled="contrato.envioRecordatorioActivo !== true" 
                          ng-model="contrato.seleccionado" 
                          ng-style="contrato.envioRecordatorioActivo !== true && {'background-color':'#d4d4c4'}"
                          ng-repeat="contrato in contratos"
                          ng-click="changeSelect(contrato)">
                <div style="margin-bottom: 0.5em">
                    <h2 >CC: {{contrato.numeroContrato}}</h2>
                    <h3 style="white-space: normal;"><span>Último envío: {{contrato.fechaUltimoEnvioRecordatorio ? contrato.fechaUltimoEnvioRecordatorio : 'nunca'}}</span></h3>
                </div>
                <div class="row" style="padding: 0;">
                    <h3 class="col-50" style="white-space: normal; padding-right: 1em"><span>Cia teórico: {{contrato.importePago | currency:"US$":2}}</span></h3>
                    <h3 class="col-50" style="white-space: normal; padding-left: 1em"><span>Saldo CIA: {{contrato.ciaPendiente | currency:"US$":2}}</span></h3>
                </div>
            </ion-checkbox>
            <div class="item-list col" style="height: 10em"></div>
        </ion-list>
    </ion-content>
    <button class="button button- button-assertive icon ion-android-send" style="z-index: 12 !important;
              position: absolute !important;
              bottom: 10px !important;
              right: 10px !important;
              border-radius: 50% !important;
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;"
            ng-click="enviar()">
    </button>
</ion-view>
