<ion-item ng-if-start="reporte.semana.estado === SEMANA_ESTADO.GENERADO && reporte.permiteFeedback">
                <textarea placeholder="Ingrese feedback"
                          ng-trim="true" ng-model="feedback.feedback" ng-maxlength="500" maxlength="500"
                          style="font-size:16px;text-align: justify; white-space: pre-line" rows="4" class="col"></textarea>
</ion-item>
<label class="item item-input item-select item-light" data-tap-disabled="true">
    <span class="input-label" style="font-size:14px;">Tipo Feedback:</span>
    <select style="text-transform:uppercase; font-size:14px;width: 50%;"
            ng-model="feedback.tipo"
            ng-options="tipo.valor as tipo.descripcion for tipo in tipofeedback">
        <option value="" disabled>Seleccione</option>
    </select>
</label>
<ion-item class="row"  ng-if-end="">
    <div class="col"></div>
    <button class="button button-assertive icon-right col" ng-click="guardarFeedback()">Enviar <i class="icon ion-android-send" style="color: white;"></i></button>
    <div class="col"></div>
</ion-item>
