<ion-item class="row" ng-if="reporte.semana.estado === SEMANA_ESTADO.FEEDBACK_ENVIADO">
    <div class="col"></div>
    <button class="button button-assertive" ng-click="confirmarFeedBack()">Confirmar Feedback</button>
    <div class="col"></div>
</ion-item>
<!--ion-item class="row" ng-if="reporte.semana.estado === SEMANA_ESTADO.FEEDBACK_CONFIRMADO">
    <div class="col"></div>
    <button class="button button-assertive" ng-click="irPasaporte()">Pasaporte</button>
    <div class="col"></div>
</ion-item-->
